<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MROLive Barcoding - Physical Inventory</title>
    <link href="{% static '_screen.css' %}" rel="stylesheet" type="text/css" />	
   </head>
  <body style="background:none;" onload="setFocusToTextBox()">
    <div id="container" style="width:1400px;">
      <div id="contentWrap" style="border:none;">
   	    <div class="contentLeft" style="width:1280px;margin-left:-50px;">
			<div style="float:left;margin-top:-85px;">
			  <img style="width:250px;height:250px;" src = "{% static 'logo-django-site.jpg' %}" />
			</div>
{% block content %}
Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
      </div>
   </div>
  </body>
</html>