<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MROLive Portal User Print Settings - Where Productivity Takes Flight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dist/assets/css/app.css' %}">
    <link href="{% static 'dist/assets/fontawesome/css/all.css' %}" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<script type="text/javascript" src="{% static 'jquery-1.12.4.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'jquery_tab_submit.js' %}"></script>
    <script type="text/javascript" src="{% static 'field_focus.js' %}"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<style>
	    label[for=apps] {
			color:black;
			text-decoration:bold;
			font-size: large;
            margin-left: 15px;
		}
	    .subhead {
			color:white;
			text-decoration:bold;
			font-size: large;
            margin-left: 65px;
		}
		.total_rows {
		 padding-left:5px;
		 display:inline;
		 text-align:left;
		 border:none;
		 outline:none;
		 background-color:#284a8a!important;
		 color:white;
		 text-decoration:bold;
		 height:25px;
		 width: 45px;
		}
		.counter_wrap {
		width:auto;
		float:right;
		margin-top:-45px;
		margin-bottom: 5px;
		z-index:1000!important;
		color: white;
		}
	</style>
	<script type="text/javascript">

	  var form_being_submitted = false; // global variable

	  function checkForm(form)
	  {
	    console.log('submitting...');
		return true;
	  }

	  function resetForm(form)
	  {
		form.myButton.disabled = false;
		form.myButton.value = "Submit";
		form_being_submitted = false;
	  }

	</script>
  </head>
<body>
<div class="mro-header-wrapper">
	<section id="mrotop"></section>
	<div class="grid-container mro-header">
		<div class="grid-x medium-margin-collapse align-middle hide-for-medium" style="float:left;">
			<div class="cell large-1 medium-2 small-12 mro-menu-button">
				<a data-toggle="offCanvas"><i class="fas fa-bars"></i></a>
			</div>
			<div class="cell large-11 medium-10 small-12 show-for-medium"><hr/></div>
		</div>
		<div class="grid-x grid-padding-x align-middle">
			<div class="cell medium-7 small-12 mro-headerlogo">
				<a href="" alt="MRO Live - Homepage">
					<img style="max-width:361px;max-height:150px;" src="{% static 'dist/assets/img/mro-live_header.png' %}" alt="MROLive - Where Productivity Takes Flight">
				</a>
			</div>
			<!--div class="cell medium-5 small-12 mro-clientlogo show-for-medium">
				<a href="#" alt="MRO Live - Client Logo">
				  <img style="max-width:150px;" src="../../..{{ logo_url }}" alt="{{ user_name }}">
				</a>			
			</div-->
		</div>
		<div class="grid-x medium-margin-collapse align-middle show-for-medium">
			<div class="cell large-1 medium-2 small-12 mro-menu-button">
				<a data-toggle="offCanvas">Menu <i class="fas fa-bars"></i></a>
			</div>
			<div class="cell large-11 medium-10 small-12 show-for-medium"><hr/></div>
		</div>
		<!--div class="cell medium-7 small-12 mro-clientlogo hide-for-medium mro-mobileclient">
			  <a href="#" alt="MRO Live - Client Logo">
				<img style="max-width:150px;" src="../../..{{ logo_url }}" alt="{{ user_name }}">
			  </a>      
		</div-->
	</div>
</div>
<!-- Modal Error Pop-up -->
<script>
$(function() {
    $("#errorModal").modal();//if you want you can have a timeout to hide the window after x seconds
});
</script>
    <!-- Modal -->
    {%  if error %}
      <div class="modal fade" id="errorModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
		    <form method="POST" id="modal_error_form" name="modal_error_form">
            <div class="modal-header">
              <button type="button" class="close" id="x_button" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Application Message:</h4>
            </div>
            <div class="modal-body">
			    {%  if error %}<input type="hidden" id="error" name="error" value="{{ error }}"/><div style="font-weight: bold; color:red; font-size: 22px;">{{ error }}</div>{%  endif %}
                <button class="secondary button shadow" id="ok_button" style="float:right; margin-top:-20px;" type="button" data-dismiss="modal">OK</button>
                <div><br/><br/></div>			
            </div>
			</form>
          </div>                
       </div>
      </div>
	  {% endif %}  
<!-- End modal error popup -->

<!-- Off-canvas Menu -->

<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

<!-- Close button -->
<button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>

<!-- Menu -->
<ul class="vertical mro-menu menu">
	<li class="mro-menu-logo">
		<a href="http://mrolive.com/" target="_blank">
			<img src="{% static 'dist/assets/img/MROlive-logo.png' %}" alt="Where Productivity Takes Flight" alt="MRO Live - Where Productivity Takes Flight">
		</a>
	</li>
	{% if op_apps %}
	<div class="subhead">Operations</div>
	{% endif %}
	{% for app in op_apps %}
      <li><a target="_blank" href="../../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if mgmt_apps %}
	<div class="subhead">Management</div>
	{% endif %}
	{% for app in mgmt_apps %}
      <li><a target="_blank" href="../../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if dash_apps %}
	<div class="subhead">Dashboards</div>
	{% endif %}
	{% for app in dash_apps %}
      <li><a target="_blank" href="../../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if setup_apps %}
	<div class="subhead">Setup</div>
	{% endif %}
	{% for app in setup_apps %}
      <li><a target="_blank" href="../../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
    <li><a href="/login">Logout</a></li><li><a href="/portal/pass-reset/{{ quapi_id }}">Reset Password</a></li>
</ul>
</div>
<!-- Off-canvas Menu - END -->
    <div class="grid-container mro-top-section">
      <div class="grid-x grid-padding-x">
          <div class="mro-top-section-wrapper mro-search">
            <div class="mro-top-section">
				<div class="cell large-6 medium-6 small-12">
				  <span class="left-tab">
				    <h1>
					  <span style="padding-left:5px;font-size:14pt;">{{ user_name }} Printers</span>
				    </h1>
				  </span>
				  {%  if msg %}<div style="font-weight: bold; color:green; font-size: 12px;">{{ msg }}</div>{%  endif %}
				</div>
              <div class="mro-lightsearch" style="width:100%;">
			  	<form method="POST" id="base_form" name="base_form">
                <div class="grid-x grid-padding-x">			
                  <div class="medium-12 small-5 cell">
				  </div>
                  <div class="medium-12 small-5 cell">
				  </div>
				  <!--
				   display list of user names and IDs. allow selection and  update to User ID, User Name or Password and update which apps they can access. doesn't need to be deeper than that for now. 
                    need a grid for users and have fields that populate for 'User Name', "User ID" and 'Password' and then 
                    an update button so they can click it to update individual row's data.					
				  -->
				  <input type="hidden" id="user_id" name="user_id" value="{{user_id}}"/>
				  <div class="cell large-6 medium-6 small-12" style="float:right">	
					  <label style="text-decoration:bold;font-size:18px;margin-left: 15px;">User's Apps</label>
					  <select name="app_assigns" id="app_assigns" multiple>
					  {% for app in user_apps %}					
						<option value="{{ app.id }}">{{ app.dj_username }}</option>							
				      {% endfor %}
				  	  </select>				  
				  </div>
				  <div class="cell large-6 medium-6 small-12">	
					  <label style="text-decoration:bold;font-size:18px;margin-left: 15px;">Print Settings</label>
                      {% for ps in print_settings %}
					    <div><input type="radio" id="{{ps.id}}" name="printer_assigns" value="{{ps.id}}"/> {{ps.computer_name}} - {{ps.printer_name}}</div>
                      {% endfor %}  					  
				  </div>
				  <div class="cell large-6 medium-6 small-12">	
				    <label><a id="user_prints" target="_blank" href="../../print-settings/{{quapi_id}}">Define Printer Settings</a></label><br/>					  
				  </div>
					{% csrf_token %}
                    <div class="large-auto small-12 cell">
                      <div class="grid-x grid-padding-x align-middle mro-searchbuttonbox">
						<div class="cell large-auto medium-6 small-12 mro-searchbuttonbox">
						  <input class="primary button shadow" type="submit" value="Update" name="app_go" id="app_go" onclick="this.disabled=true,this.form.submit();"/>
						</div>
				      </div>
					</div>
                  </div>
			  </form>
            </div>
          </div>        
		</div>
      </div>
	</div>
<div class="mro-footer-wrapper">
	<div class="grid-container mro-footer">
		<div class="grid-x">
		</div>

		<div class="grid-x mro-footer-bottom">
			<div class="cell medium-5 small-12 mro-footer-bottom-left">
				<p>Copyright &copy; 2023 MRO Live <span>|</span> <img class="mro-usa" src="{% static 'dist/assets/img/usa.png' %}" alt="Based in USA">Based in USA</p>
			</div>
		</div>
	</div>
</div><script src="{% static 'dist/assets/js/app.js' %}"></script>
</body>
</html>
