<!-- Mobile Card -->
<div class="mro-barcoding-table-card hide-for-large">
  <div class="grid-x mro-barcoding-table-row  mro-barcoding-table-row-1">
    <div class="cell small-6 mro-wo">
      <p><strong>WO # </strong>100050</p>
    </div>
    <div class="cell small-6 mro-serial">
      <p>Serial #: <strong>4893</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-barcoding-table-row  mro-barcoding-table-row-2">
    <div class="cell small-12 mro-partinfo">
      <div class="cell small-12 mro-partname">
        <p>Part #: <strong>28B14-17C</strong></p>
      </div>
      <div class="cell small-12 mro-partdescrip">
        <p>Exploded View CF6 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed adiam nonumy.</p>
      </div>
    </div>
  </div>
  <div class="grid-x  mro-barcoding-table-row  mro-barcoding-table-row-3">
    <div class="cell small-3">
      <p>Ctrl <strong>(1,))</strong></p>
    </div>
    <div class="cell small-4">
      <p>Ctrl ID <strong>(2242)</strong></p>
    </div>
    <div class="cell small-5 mro-rack">
      <p>Rack <strong>('CART 01'.)</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-barcoding-table-row  mro-barcoding-table-row-4">
    <div class="cell small-7 mro-warehouse">
      <p>Warehouse: <strong>Florida</strong></p>
    </div>
    <div class="cell small-5 mro-location">
      <p>Location: <strong>F6879</strong></p>
    </div>
  </div>
</div>
<!-- Mobile Card - END -->
<!-- Mobile Card -->
<div class="mro-barcoding-table-card hide-for-large">
  <div class="grid-x mro-barcoding-table-row  mro-barcoding-table-row-1">
    <div class="cell small-6 mro-wo">
      <p><strong>WO # </strong>100050</p>
    </div>
    <div class="cell small-6 mro-serial">
      <p>Serial #: <strong>4893</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-barcoding-table-row  mro-barcoding-table-row-2">
    <div class="cell small-12 mro-partinfo">
      <div class="cell small-12 mro-partname">
        <p>Part #: <strong>28B14-17C</strong></p>
      </div>
      <div class="cell small-12 mro-partdescrip">
        <p>Exploded View CF6 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed adiam nonumy.</p>
      </div>
    </div>
  </div>
  <div class="grid-x  mro-barcoding-table-row  mro-barcoding-table-row-3">
    <div class="cell small-3">
      <p>Ctrl <strong>(1,))</strong></p>
    </div>
    <div class="cell small-4">
      <p>Ctrl ID <strong>(2242)</strong></p>
    </div>
    <div class="cell small-5 mro-rack">
      <p>Rack <strong>('CART 01'.)</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-barcoding-table-row  mro-barcoding-table-row-4">
    <div class="cell small-7 mro-warehouse">
      <p>Warehouse: <strong>Florida</strong></p>
    </div>
    <div class="cell small-5 mro-location">
      <p>Location: <strong>F6879</strong></p>
    </div>
  </div>
</div>
<!-- Mobile Card - END -->
<!-- Mobile Card -->
<div class="mro-barcoding-table-card hide-for-large">
  <div class="grid-x mro-barcoding-table-row  mro-barcoding-table-row-1">
    <div class="cell small-6 mro-wo">
      <p><strong>WO # </strong>100050</p>
    </div>
    <div class="cell small-6 mro-serial">
      <p>Serial #: <strong>4893</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-barcoding-table-row  mro-barcoding-table-row-2">
    <div class="cell small-12 mro-partinfo">
      <div class="cell small-12 mro-partname">
        <p>Part #: <strong>28B14-17C</strong></p>
      </div>
      <div class="cell small-12 mro-partdescrip">
        <p>Exploded View CF6 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed adiam nonumy.</p>
      </div>
    </div>
  </div>
  <div class="grid-x  mro-barcoding-table-row  mro-barcoding-table-row-3">
    <div class="cell small-3">
      <p>Ctrl <strong>(1,))</strong></p>
    </div>
    <div class="cell small-4">
      <p>Ctrl ID <strong>(2242)</strong></p>
    </div>
    <div class="cell small-5 mro-rack">
      <p>Rack <strong>('CART 01'.)</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-barcoding-table-row  mro-barcoding-table-row-4">
    <div class="cell small-7 mro-warehouse">
      <p>Warehouse: <strong>Florida</strong></p>
    </div>
    <div class="cell small-5 mro-location">
      <p>Location: <strong>F6879</strong></p>
    </div>
  </div>
</div>
<!-- Mobile Card - END -->

<!-- Desktop Table -->

<table class="stack mro-barcoding-table-stack show-for-large">
  <thead>
    <tr>
      <th>WO#</th>
      <th>Part #</th>
      <th>Description</th>
      <th>Serial #</th>
      <th>Ctrl #</th>
      <th>Ctrl ID</th>
      <th>Warehouse</th>
      <th>Location</th>
      <th>Rack</th>
    </tr>
  </thead>
  <tbody>
    <!-- ROW -->
    <tr>
        <!-- WO# -->
        <td class="mro-wo">
          <a href="#"><p>100050</p></a>
        </td>
        <!-- Part Number -->
        <td class="mro-partnum">
          <a href="#"><p>28B141-17C</p></a>
        </td>
        <!-- Description -->
        <td class="mro-descrip">
          <p>Generator, Alternating Current Lorem Ipsum dolor sit armet, consetetur sadipscing elitr.</p>
        </td>
        <!-- Serial # -->
        <td class="mro-serialnum"><p><strong># 4893</strong></p></td>
        <!-- Ctrl # -->
        <td class="mro-ctrlnum">
          <p>(1,)</p>
        </td>
        <!-- Ctrl ID -->
        <td class="mro-ctrlid"><p>(2242)</p></td>
        <!-- Waregouse -->
        <td class="mro-warehouse">
          <p>Florida</p>
        </td>
        <!-- Location -->
        <td class="mro-location">
          <p>N/A</p>
        </td>
        <!-- Rack -->
        <td class="mro-Rack">
          <p><strong>('CART 01',)</strong></p>
        </td>
    </tr>
    <!-- ROW - END -->
    <!-- ROW -->
    <tr>
        <!-- WO# -->
        <td class="mro-wo">
          <a href="#"><p>100050</p></a>
        </td>
        <!-- Part Number -->
        <td class="mro-partnum">
          <a href="#"><p>28B141-17C</p></a>
        </td>
        <!-- Description -->
        <td class="mro-descrip">
          <p>Generator, Alternating Current Lorem Ipsum dolor sit armet, consetetur sadipscing elitr.</p>
        </td>
        <!-- Serial # -->
        <td class="mro-serialnum"><p><strong># 4893</strong></p></td>
        <!-- Ctrl # -->
        <td class="mro-ctrlnum">
          <p>(1,)</p>
        </td>
        <!-- Ctrl ID -->
        <td class="mro-ctrlid"><p>(2242)</p></td>
        <!-- Waregouse -->
        <td class="mro-warehouse">
          <p>Florida</p>
        </td>
        <!-- Location -->
        <td class="mro-location">
          <p>N/A</p>
        </td>
        <!-- Rack -->
        <td class="mro-Rack">
          <p><strong>('CART 01',)</strong></p>
        </td>
    </tr>
    <!-- ROW - END -->
    <!-- ROW -->
    <tr>
        <!-- WO# -->
        <td class="mro-wo">
          <a href="#"><p>100050</p></a>
        </td>
        <!-- Part Number -->
        <td class="mro-partnum">
          <a href="#"><p>28B141-17C</p></a>
        </td>
        <!-- Description -->
        <td class="mro-descrip">
          <p>Generator, Alternating Current Lorem Ipsum dolor sit armet, consetetur sadipscing elitr.</p>
        </td>
        <!-- Serial # -->
        <td class="mro-serialnum"><p><strong># 4893</strong></p></td>
        <!-- Ctrl # -->
        <td class="mro-ctrlnum">
          <p>(1,)</p>
        </td>
        <!-- Ctrl ID -->
        <td class="mro-ctrlid"><p>(2242)</p></td>
        <!-- Waregouse -->
        <td class="mro-warehouse">
          <p>Florida</p>
        </td>
        <!-- Location -->
        <td class="mro-location">
          <p>N/A</p>
        </td>
        <!-- Rack -->
        <td class="mro-Rack">
          <p><strong>('CART 01',)</strong></p>
        </td>
    </tr>
    <!-- ROW - END -->
  </tbody>
</table>

<!-- Desktop Table - END -->