<div class="mro-footer-wrapper">
	<div class="grid-container mro-footer">
		<div class="grid-x">
			<div class="cell small-12">
				<img class="mro-footerlogo" src="assets/img/mro-live_footer.png" alt="Where Productivity Takes Flight" alt="MRO Live - Where Productivity Takes Flight">
			</div>
		</div>

		<div class="grid-x mro-footer-bottom">
			<div class="cell medium-5 small-12 mro-footer-bottom-left">
				<p>Copyright &copy; 2020 MRO Live <span>|</span> <img class="mro-usa" src="assets/img/usa.png" alt="Based in USA">Based in USA</p>
			</div>
			<div class="cell medium-7 small-12 mro-footer-bottom-right">
				<p>Have Questions, Comments, or Concerns? <a href="mailto:Sales@MROLive.com">Get In Touch at Sales@MROLive.com</a></p>
			</div>
		</div>
	</div>
</div>