<div class="mro-top-section-wrapper mro-search">
  <div class="mro-top-section">
    <div class="grid-x grid-padding-x hide-for-medium">
      <div class="medium-12 small-7 cell hide-for-medium mro-mobileclient">
        {{> client-logo}}
      </div>
    </div>
    <div class="mro-lightsearch">
      <div class="grid-x grid-padding-x align-middle">
        <div class="large-12 cell">
          <h1>Physical Inventory</h1>
        </div>
          <div class="cell large-auto medium-6 small-12">
            <label>Emp ID</label>
            <input type="text" placeholder="Emp ID...">
          </div>
          <div class="cell large-auto medium-6 small-12">
            <label>Batch Number</label>
            <input type="text" placeholder="Batch #...">
          </div>
          <div class="cell large-auto medium-6 small-12">
            <label>Stock Label</label>
            <input type="text" placeholder="Label...">
          </div>
          <div class="cell large-auto medium-6 small-12">
            <label>Quantity</label>
            <input type="text" placeholder="Quantity...">
          </div>
          <div class="large-3 small-12 cell">
            <div class="grid-x grid-padding-x align-middle mro-searchbuttonbox">
              <div class="cell large-6 medium-6 small-12">
                <a href="#" class="primary button shadow">Search</a>
              </div>
              <div class="cell large-6 medium-6 small-12">
                <a href="#" class="mro-clearselection">Clear Selections</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>