<!-- Mobile Card -->
<div class="mro-physical-table-card hide-for-large">
  <div class="grid-x mro-physical-table-row  mro-physical-table-row-1">
    <div class="cell small-6 mro-wo">
      <p><strong>User </strong>N/A</p>
    </div>
    <div class="cell small-6 mro-serial">
      <p>Batch #: <strong>30001</strong></p>
    </div>
  </div>
  <div class="grid-x mro-physical-table-row  mro-physical-table-row-2">
    <div class="cell small-12 mro-location">
      <p>Location</p>
      <h3>R19020</h3>
    </div>
  </div>
  <div class="grid-x  mro-physical-table-row  mro-physical-table-row-3">
    <div class="cell small-4">
      <p>Ctrl # <strong>1078</strong></p>
    </div>
    <div class="cell small-4">
      <p>Ctrl ID <strong>1</strong></p>
    </div>
    <div class="cell small-4 mro-rack">
      <p>Quantity <strong>1.0</strong></p>
    </div>
  </div>
</div>
<!-- Mobile Card - END -->
<!-- Mobile Card -->
<div class="mro-physical-table-card hide-for-large">
  <div class="grid-x mro-physical-table-row  mro-physical-table-row-1">
    <div class="cell small-6 mro-wo">
      <p><strong>User </strong>N/A</p>
    </div>
    <div class="cell small-6 mro-serial">
      <p>Batch #: <strong>30001</strong></p>
    </div>
  </div>
  <div class="grid-x mro-physical-table-row  mro-physical-table-row-2">
    <div class="cell small-12 mro-location">
      <p>Location</p>
      <h3>R19020</h3>
    </div>
  </div>
  <div class="grid-x  mro-physical-table-row  mro-physical-table-row-3">
    <div class="cell small-4">
      <p>Ctrl # <strong>1078</strong></p>
    </div>
    <div class="cell small-4">
      <p>Ctrl ID <strong>1</strong></p>
    </div>
    <div class="cell small-4 mro-rack">
      <p>Quantity <strong>1.0</strong></p>
    </div>
  </div>
</div>
<!-- Mobile Card - END -->
<!-- Mobile Card -->
<div class="mro-physical-table-card hide-for-large">
  <div class="grid-x mro-physical-table-row  mro-physical-table-row-1">
    <div class="cell small-6 mro-wo">
      <p><strong>User </strong>N/A</p>
    </div>
    <div class="cell small-6 mro-serial">
      <p>Batch #: <strong>30001</strong></p>
    </div>
  </div>
  <div class="grid-x mro-physical-table-row  mro-physical-table-row-2">
    <div class="cell small-12 mro-location">
      <p>Location</p>
      <h3>R19020</h3>
    </div>
  </div>
  <div class="grid-x  mro-physical-table-row  mro-physical-table-row-3">
    <div class="cell small-4">
      <p>Ctrl # <strong>1078</strong></p>
    </div>
    <div class="cell small-4">
      <p>Ctrl ID <strong>1</strong></p>
    </div>
    <div class="cell small-4 mro-rack">
      <p>Quantity <strong>1.0</strong></p>
    </div>
  </div>
</div>
<!-- Mobile Card - END -->

<!-- Desktop Table -->

<table class="stack mro-physical-table-stack show-for-large">
  <thead>
    <tr>
      <th>User</th>
      <th>Batch Number</th>
      <th>Quantity</th>
      <th>Ctrl #</th>
      <th>Ctrl ID</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <!-- ROW -->
    <tr>
        <!-- User -->
        <td class="mro-user">
          <a href="#">N/A</a>
        </td>
        <!-- Batch Number -->
        <td class="mro-Batch">
          <p><strong># 30001</strong></p>
        </td>
        <!-- Quantity -->
        <td class="mro-quanitity">
          <p>1.0</p>
        </td>
        <!-- Ctrl # -->
        <td class="mro-ctrlnum"><p><strong>10078</strong></p></td>
        <!-- Ctrl ID -->
        <td class="mro-ctrlid">
          <p>1</p>
        </td>
        <!-- Location -->
        <td class="mro-location"><p>R19020</p></td>
    </tr>
    <!-- ROW - END -->
    <!-- ROW -->
    <tr>
        <!-- User -->
        <td class="mro-user">
          <a href="#">N/A</a>
        </td>
        <!-- Batch Number -->
        <td class="mro-Batch">
          <p><strong># 30001</strong></p>
        </td>
        <!-- Quantity -->
        <td class="mro-quanitity">
          <p>1.0</p>
        </td>
        <!-- Ctrl # -->
        <td class="mro-ctrlnum"><p><strong>10078</strong></p></td>
        <!-- Ctrl ID -->
        <td class="mro-ctrlid">
          <p>1</p>
        </td>
        <!-- Location -->
        <td class="mro-location"><p>R19020</p></td>
    </tr>
    <!-- ROW - END -->
    <!-- ROW -->
    <tr>
        <!-- User -->
        <td class="mro-user">
          <a href="#">N/A</a>
        </td>
        <!-- Batch Number -->
        <td class="mro-Batch">
          <p><strong># 30001</strong></p>
        </td>
        <!-- Quantity -->
        <td class="mro-quanitity">
          <p>1.0</p>
        </td>
        <!-- Ctrl # -->
        <td class="mro-ctrlnum"><p><strong>10078</strong></p></td>
        <!-- Ctrl ID -->
        <td class="mro-ctrlid">
          <p>1</p>
        </td>
        <!-- Location -->
        <td class="mro-location"><p>R19020</p></td>
    </tr>
    <!-- ROW - END -->
  </tbody>
</table>

<!-- Desktop Table - END -->