<div class="mro-top-section-wrapper mro-search">
  <div class="mro-top-section">
    <div class="grid-x grid-padding-x hide-for-medium">
      <div class="medium-12 small-7 cell hide-for-medium mro-mobileclient">
        {{> client-logo}}
      </div>
    </div>
    <div class="mro-lightsearch">
      <div class="grid-x grid-padding-x">
        <div class="medium-12 small-7 cell hide-for-medium">
        </div>
        <div class="medium-12 small-5 cell">
          <h1>WO Search</h1>
        </div>
          <div class="cell large-auto medium-6 small-12">
            <label>Customer Name</label>
            <input type="text" placeholder="Name...">
          </div>
          <div class="cell large-auto medium-6 small-12">
            <label>Status</label>
            <select>
              <option value="item1">No Selection</option>
              <option value="item1">Item 1</option>
              <option value="item2">Item 2</option>
              <option value="item3">Item 3</option>
            </select>
          </div>
          <div class="cell large-auto medium-6 small-12">
            <label>Manager</label>
            <input type="text" placeholder="Name...">
          </div>
          <div class="cell large-auto medium-6 small-12">
            <label>Due Date</label>
            <select>
              <option value="item1">11 / 11 / 2020</option>
              <option value="item1">Item 1</option>
              <option value="item2">Item 2</option>
              <option value="item3">Item 3</option>
            </select>
          </div>
          <div class="cell large-auto medium-6 small-12">
            <label>WO #</label>
            <input type="text" placeholder="Number...">
          </div>
      </div>
      <div class="grid-x grid-padding-x">
          <div class="cell large-auto medium-9 show-for-medium">
            <hr>
          </div>
          <div class="cell large-2 medium-3 small-12">
            <a href="#" class="primary button shadow">Search</a>
          </div>
      </div>
    </div>
    <div class="mro-darksearch">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>WO Update</h1>
        </div>
          <div class="large-9 small-12 cell">
            <div class="grid-x grid-padding-x">
              <div class="cell large-3 medium-6 small-12">
                <label>Emp ID</label>
                <input type="text" placeholder="Number...">
              </div>
              <div class="cell large-3 medium-6 small-12">
                <label>Manager</label>
                <input type="text" placeholder="Name...">
              </div>
              <div class="cell large-3 medium-6 small-12">
                <label>Due Date</label>
                <input type="text" placeholder="Date...">
              </div>
              <div class="cell large-3 medium-6 small-12">
                <label>Rank</label>
                <select>
                  <option value="item1">No Selection</option>
                  <option value="item1">Item 1</option>
                  <option value="item2">Item 2</option>
                  <option value="item3">Item 3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="large-3 small-12 cell">
            <div class="grid-x grid-padding-x align-middle mro-searchbuttonbox">
              <div class="cell large-6 medium-6 small-12">
                <a href="#" class="lightbutton button shadow">Update</a>
              </div>
              <div class="cell large-6 medium-6 small-12">
                <a href="#" class="mro-clearselection">Clear Selections</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>