<!-- Mobile Card -->
<div class="mro-main-table-card hide-for-large">
  <div class="grid-x mro-main-table-row  mro-main-table-row-1">
    <div class="cell small-6 mro-wo">
      <p><strong>WO # </strong>100050</p>
    </div>
    <div class="cell small-6 mro-rank">
      <p>Rank: <strong>N/A</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-main-table-row  mro-main-table-row-2">
    <div class="cell small-12 mro-needdate">
      <p>Need Date: <span>09 / 15 / 19</span> <strong>416 days</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-main-table-row  mro-main-table-row-3">
    <div class="cell small-6">
      <h3>Part Information</h3>
    </div>
    <div class="cell small-6 mro-wotype">
      <p>WO Type: <strong>N/A</strong></p>
    </div>
    <div class="cell small-6 mro-partname">
      <h2># 01 FAN (CF6-50)</h2>
    </div>
    <div class="cell small-6 mro-serialnum">
      <p>Serial #: <strong>QC ESN</strong></p>
    </div>
    <div class="cell small-12 mro-partdescrip">
      <p>Exploded View CF6 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed adiam nonumy.</p>
    </div>
  </div>
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink1" class="accordion-title"><p>Expand More Information</p></a>
        <div class="accordion-content" data-tab-content>
          <div class="grid-x  mro-main-table-row  mro-main-table-row-4">
            <div class="cell small-12 mro-status">
              <a class="mro-status-bubble mro-status-pending" href="#">Pending</a>
              <hr/>
            </div>
            <div class="cell small-4 mro-location">
              <p>Location: <strong>N/A</strong></p>
            </div>
            <div class="cell small-8 mro-entrydate">
              <p>Entry Date: <strong>08 / 15 / 2018</strong></p>
            </div>
            <div class="cell small-6 mro-clientname">
              <p>ABC Areospace Inc.</p>
            </div>
            <div class="cell small-6 mro-customerref">
              <p>Cust Ref#: <strong>12345</strong></p>
            </div>
            <div class="cell small-6 mro-manager">
              <p>Manager: <strong>N/A</strong></p>
            </div>
            <div class="cell small-6 mro-time">
              <p>Time: <strong>N/A</strong></p>
            </div>
            <div class="cell small-12 mro-timeto-wrap">
              <p class="mro-timeto">Time: <span><strong id="mro-timeto-d">447</strong> d,</span> <span><strong id="mro-timeto-h">6</strong> h,</span> <span><strong id="mro-timeto-m">47</strong> m,</span> <span><strong id="mro-timeto-s">45</strong> s</span></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>
<!-- Mobile Card - END -->

<!-- Mobile Card -->
<div class="mro-main-table-card hide-for-large">
  <div class="grid-x mro-main-table-row  mro-main-table-row-1">
    <div class="cell small-6 mro-wo">
      <p><strong>WO # </strong>100050</p>
    </div>
    <div class="cell small-6 mro-rank">
      <p>Rank: <strong>N/A</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-main-table-row  mro-main-table-row-2">
    <div class="cell small-12 mro-needdate">
      <p>Need Date: <span>09 / 15 / 19</span> <strong>416 days</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-main-table-row  mro-main-table-row-3">
    <div class="cell small-6">
      <h3>Part Information</h3>
    </div>
    <div class="cell small-6 mro-wotype">
      <p>WO Type: <strong>N/A</strong></p>
    </div>
    <div class="cell small-6 mro-partname">
      <h2># 01 FAN (CF6-50)</h2>
    </div>
    <div class="cell small-6 mro-serialnum">
      <p>Serial #: <strong>QC ESN</strong></p>
    </div>
    <div class="cell small-12 mro-partdescrip">
      <p>Exploded View CF6 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed adiam nonumy.</p>
    </div>
  </div>
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink1" class="accordion-title"><p>Expand More Information</p></a>
        <div class="accordion-content" data-tab-content>
          <div class="grid-x  mro-main-table-row  mro-main-table-row-4">
            <div class="cell small-12 mro-status">
              <a class="mro-status-bubble mro-status-done" href="#">Done</a>
              <hr/>
            </div>
            <div class="cell small-4 mro-location">
              <p>Location: <strong>N/A</strong></p>
            </div>
            <div class="cell small-8 mro-entrydate">
              <p>Entry Date: <strong>08 / 15 / 2018</strong></p>
            </div>
            <div class="cell small-6 mro-clientname">
              <p>ABC Areospace Inc.</p>
            </div>
            <div class="cell small-6 mro-customerref">
              <p>Cust Ref#: <strong>12345</strong></p>
            </div>
            <div class="cell small-6 mro-manager">
              <p>Manager: <strong>N/A</strong></p>
            </div>
            <div class="cell small-6 mro-time">
              <p>Time: <strong>N/A</strong></p>
            </div>
            <div class="cell small-12 mro-timeto-wrap">
              <p class="mro-timeto">Time: <span><strong id="mro-timeto-d">447</strong> d,</span> <span><strong id="mro-timeto-h">6</strong> h,</span> <span><strong id="mro-timeto-m">47</strong> m,</span> <span><strong id="mro-timeto-s">45</strong> s</span></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>
<!-- Mobile Card - END -->

<!-- Mobile Card -->
<div class="mro-main-table-card hide-for-large">
  <div class="grid-x mro-main-table-row  mro-main-table-row-1">
    <div class="cell small-6 mro-wo">
      <p><strong>WO # </strong>100050</p>
    </div>
    <div class="cell small-6 mro-rank">
      <p>Rank: <strong>N/A</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-main-table-row  mro-main-table-row-2">
    <div class="cell small-12 mro-needdate">
      <p>Need Date: <span>09 / 15 / 19</span> <strong>416 days</strong></p>
    </div>
  </div>
  <div class="grid-x  mro-main-table-row  mro-main-table-row-3">
    <div class="cell small-6">
      <h3>Part Information</h3>
    </div>
    <div class="cell small-6 mro-wotype">
      <p>WO Type: <strong>N/A</strong></p>
    </div>
    <div class="cell small-6 mro-partname">
      <h2># 01 FAN (CF6-50)</h2>
    </div>
    <div class="cell small-6 mro-serialnum">
      <p>Serial #: <strong>QC ESN</strong></p>
    </div>
    <div class="cell small-12 mro-partdescrip">
      <p>Exploded View CF6 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed adiam nonumy.</p>
    </div>
  </div>
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#deeplink1" class="accordion-title"><p>Expand More Information</p></a>
        <div class="accordion-content" data-tab-content>
          <div class="grid-x  mro-main-table-row  mro-main-table-row-4">
            <div class="cell small-12 mro-status">
              <a class="mro-status-bubble mro-status-done" href="#">Done</a>
              <hr/>
            </div>
            <div class="cell small-4 mro-location">
              <p>Location: <strong>N/A</strong></p>
            </div>
            <div class="cell small-8 mro-entrydate">
              <p>Entry Date: <strong>08 / 15 / 2018</strong></p>
            </div>
            <div class="cell small-6 mro-clientname">
              <p>ABC Areospace Inc.</p>
            </div>
            <div class="cell small-6 mro-customerref">
              <p>Cust Ref#: <strong>12345</strong></p>
            </div>
            <div class="cell small-6 mro-manager">
              <p>Manager: <strong>N/A</strong></p>
            </div>
            <div class="cell small-6 mro-time">
              <p>Time: <strong>N/A</strong></p>
            </div>
            <div class="cell small-12 mro-timeto-wrap">
              <p class="mro-timeto">Time: <span><strong id="mro-timeto-d">447</strong> d,</span> <span><strong id="mro-timeto-h">6</strong> h,</span> <span><strong id="mro-timeto-m">47</strong> m,</span> <span><strong id="mro-timeto-s">45</strong> s</span></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>
<!-- Mobile Card - END -->

<!-- Desktop Table -->

<table class="stack mro-main-table-stack show-for-large">
  <thead>
    <tr>
      <th>WO#</th>
      <th>Status</th>
      <th>Customer Info</th>
      <th>Time</th>
      <th>Need Date</th>
      <th>Rank</th>
      <th>Part Info</th>
      <th>Serial #</th>
      <th>Manager</th>
      <th>Entry Date</th>
      <th>WO Type</th>
      <th>Location</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <!-- ROW -->
    <tr>
        <!-- WO# -->
        <td class="mro-wo">
          <a href="#">100050</a>
        </td>
        <!-- Pending -->
        <td class="mro-wo">
          <a class="mro-status-bubble mro-status-pending" href="#">Pending</a>
        </td>
        <!-- Customer # -->
        <td class="mro-clientinfo">
          <p class="mro-customerref">Cust Ref #: <strong>12345</strong></p>
          <a href="#" class="mro-clientname">
            <h3>ABC Areospace Inc.</h3>
          </a>
        </td>
        <!-- Time -->
        <td class="mro-time">-</td>
        <!-- Need Date -->
        <td class="mro-needdate">
          <p>09/15/19<br/><strong>416 days</strong></p>
        </td>
        <!-- Rank -->
        <td class="mro-rank">-</td>
        <!-- Part Info -->
        <td class="mro-partname">
          <p><i># 01 FAN (CF6-50)</i><br/>Module</p>
        </td>
        <!-- Serial # -->
        <td class="mro-serialnum">
          <p>QC ESN</p>
        </td>
        <!-- Manager -->
        <td class="mro-manager">
          <p>N/A</p>
        </td>
        <!-- Entry Date -->
        <td class="mro-entrydate">
          <p>08/15/18</p>
        </td>
        <!-- WO Type -->
        <td class="mro-wotype">
          <p>N/A</p>
        </td>
        <!-- Location -->
        <td class="mro-location">
          <p>N/A</p>
        </td>
        <!-- Time -->
        <td class="mro-timeto-wrap">
          <p class="mro-timeto">Time: <span><strong id="mro-timeto-d">447</strong>d,</span> <span><strong id="mro-timeto-h">6</strong>h,</span><br/><span><strong id="mro-timeto-m">47</strong>m,</span> <span><strong id="mro-timeto-s">45</strong>s</span></p>
        </td>
    </tr>
    <!-- ROW - END -->
    <!-- ROW -->
    <tr>
        <!-- WO# -->
        <td class="mro-wo">
          <a href="#">100050</a>
        </td>
        <!-- Pending -->
        <td class="mro-wo">
          <a class="mro-status-bubble mro-status-done" href="#">Done</a>
        </td>
        <!-- Customer # -->
        <td class="mro-clientinfo">
          <p class="mro-customerref">Cust Ref #: <strong>12345</strong></p>
          <a href="#" class="mro-clientname">
            <h3>ABC Areospace Inc.</h3>
          </a>
        </td>
        <!-- Time -->
        <td class="mro-time">-</td>
        <!-- Need Date -->
        <td class="mro-needdate">
          <p>09/15/19<br/><strong>416 days</strong></p>
        </td>
        <!-- Rank -->
        <td class="mro-rank">-</td>
        <!-- Part Info -->
        <td class="mro-partname">
          <p><i># 01 FAN (CF6-50)</i><br/>Module</p>
        </td>
        <!-- Serial # -->
        <td class="mro-serialnum">
          <p>QC ESN</p>
        </td>
        <!-- Manager -->
        <td class="mro-manager">
          <p>N/A</p>
        </td>
        <!-- Entry Date -->
        <td class="mro-entrydate">
          <p>08/15/18</p>
        </td>
        <!-- WO Type -->
        <td class="mro-wotype">
          <p>N/A</p>
        </td>
        <!-- Location -->
        <td class="mro-location">
          <p>N/A</p>
        </td>
        <!-- Time -->
        <td class="mro-timeto-wrap">
          <p class="mro-timeto">Time: <span><strong id="mro-timeto-d">447</strong>d,</span> <span><strong id="mro-timeto-h">6</strong>h,</span><br/><span><strong id="mro-timeto-m">47</strong>m,</span> <span><strong id="mro-timeto-s">45</strong>s</span></p>
        </td>
    </tr>
    <!-- ROW - END -->
    <!-- ROW -->
    <tr>
        <!-- WO# -->
        <td class="mro-wo">
          <a href="#">100050</a>
        </td>
        <!-- Pending -->
        <td class="mro-wo">
          <a class="mro-status-bubble mro-status-done" href="#">Done</a>
        </td>
        <!-- Customer # -->
        <td class="mro-clientinfo">
          <p class="mro-customerref">Cust Ref #: <strong>12345</strong></p>
          <a href="#" class="mro-clientname">
            <h3>ABC Areospace Inc.</h3>
          </a>
        </td>
        <!-- Time -->
        <td class="mro-time">-</td>
        <!-- Need Date -->
        <td class="mro-needdate">
          <p>09/15/19<br/><strong>416 days</strong></p>
        </td>
        <!-- Rank -->
        <td class="mro-rank">-</td>
        <!-- Part Info -->
        <td class="mro-partname">
          <p><i># 01 FAN (CF6-50)</i><br/>Module</p>
        </td>
        <!-- Serial # -->
        <td class="mro-serialnum">
          <p>QC ESN</p>
        </td>
        <!-- Manager -->
        <td class="mro-manager">
          <p>N/A</p>
        </td>
        <!-- Entry Date -->
        <td class="mro-entrydate">
          <p>08/15/18</p>
        </td>
        <!-- WO Type -->
        <td class="mro-wotype">
          <p>N/A</p>
        </td>
        <!-- Location -->
        <td class="mro-location">
          <p>N/A</p>
        </td>
        <!-- Time -->
        <td class="mro-timeto-wrap">
          <p class="mro-timeto">Time: <span><strong id="mro-timeto-d">447</strong>d,</span> <span><strong id="mro-timeto-h">6</strong>h,</span><br/><span><strong id="mro-timeto-m">47</strong>m,</span> <span><strong id="mro-timeto-s">45</strong>s</span></p>
        </td>
    </tr>
    <!-- ROW - END -->


  </tbody>
</table>

<!-- Desktop Table - END -->