<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MROLive Location Labels - Where Productivity Takes Flight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dist/assets/css/app.css' %}">
    <link href="{% static 'dist/assets/fontawesome/css/all.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<script type="text/javascript" src="{% static 'jquery-1.12.4.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'jquery_tab_submit.js' %}"></script>
    <script type="text/javascript" src="{% static 'field_focus.js' %}"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <script type="text/javascript">
		function setFocusStockOnLoad(){
			document.getElementById('label').focus();
		}
    </script>
    <style type="text/css">
	    .subhead {
			color:white;
			text-decoration:bold;
			font-size: large;
            margin-left: 65px;
		}
	.k-grid-toolbar { 
        background-color:#284a8a !important; 
    }
	.k-button { 
	    background-color:#284a8a !important; 
	}
	#barcode {
		width: auto;
		display: inline-block;
		margin: 10px 30px;
		text-align: center;
		font-size:36pt;
	}
	/*
		Use the DejaVu Sans font for display and embedding in the PDF file.
		The standard PDF fonts have no support for Unicode characters.
	*/
	.k-widget {
		font-family: "DejaVu Sans", "Arial", sans-serif;
		font-size: .9em;
	}
	.barcode_text {
	    font-size:36pt;
	}
	</style>
	<script>
		// Import DejaVu Sans font for embedding

		// NOTE: Only required if the Kendo UI stylesheets are loaded
		// from a different origin, e.g. cdn.kendostatic.com
		kendo.pdf.defineFont({
			"DejaVu Sans"             : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
			"DejaVu Sans|Bold"        : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
			"DejaVu Sans|Bold|Italic" : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
			"DejaVu Sans|Italic"      : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
			"WebComponentsIcons"      : "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
		});
	</script>
<!-- Load Pako ZLIB library to enable PDF compression -->
<script src="https://kendo.cdn.telerik.com/2017.3.913/js/pako_deflate.min.js"></script>
  </head>
<body onload='setFocusStockOnLoad()'>
    <audio src="{% static 'error-trombone.mp3' %}" id="my_audio"></audio>
    <script type="text/javascript">
			$(document).ready(
				function () {
					error = $("#error").val();
					//console.log(error);
					if (error) {
					   $("#my_audio").get(0).play();
					}
				}
			)
    </script>
<div class="mro-header-wrapper">
	<section id="mrotop"></section>
	<div class="grid-container mro-header">
		<div class="grid-x medium-margin-collapse align-middle hide-for-medium" style="float:left;">
			<div class="cell large-1 medium-2 small-12 mro-menu-button">
				<a data-toggle="offCanvas"><i class="fas fa-bars"></i></a>
			</div>
			<div class="cell large-11 medium-10 small-12 show-for-medium"><hr/></div>
		</div>
		<div class="grid-x grid-padding-x align-middle">
			<div class="cell medium-7 small-12 mro-headerlogo">
				<a href="" alt="MRO Live - Homepage">
					<img style="max-width:361px;max-height:150px;" src="{% static 'dist/assets/img/mro-live_header.png' %}" alt="MROLive - Where Productivity Takes Flight">
				</a>
			</div>
			<!--div class="cell medium-5 small-12 mro-clientlogo show-for-medium">
				<a href="#" alt="MRO Live - Client Logo">
				  <img style="max-width:150px;" src="../../..{{ logo_url }}" alt="{{ user_name }}">
				</a>			
			</div-->
		</div>
		<div class="grid-x medium-margin-collapse align-middle show-for-medium">
			<div class="cell large-1 medium-2 small-12 mro-menu-button">
				<a data-toggle="offCanvas">Menu <i class="fas fa-bars"></i></a>
			</div>
			<div class="cell large-11 medium-10 small-12 show-for-medium"><hr/></div>
		</div>
		<!--div class="cell medium-7 small-12 mro-clientlogo hide-for-medium mro-mobileclient">
			  <a href="#" alt="MRO Live - Client Logo">
				<img style="max-width:150px;" src="../../..{{ logo_url }}" alt="{{ user_name }}">
			  </a>      
		</div-->
	</div>
</div>

<!-- Modal Error Pop-up -->

<script>
$(function() {
    $("#errorModal").modal();//if you want you can have a timeout to hide the window after x seconds
});
</script>
    <!-- Modal -->
    {%  if error %}
      <div class="modal fade" id="errorModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
		    <form method="POST" id="modal_error_form" name="modal_error_form">
            <div class="modal-header">
              <button type="button" class="close" id="x_button" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Application Message:</h4>
            </div>
            <div class="modal-body">
				
			    {% if error %}<input type="hidden" id="error" name="error" value="{{ error }}"/><div style="font-weight: bold; color:red; font-size: 22px;">{{ error }}</div>{% endif %}
				  <form method="POST" id="label_form" name="label_form">
                  {% csrf_token %}
                  <input type="hidden" name="is_label_form" id="is_label_form" value="1"/>
				  <input type="hidden" name="rerecord" id="rerecord" value="{{rerecord}}"/>
				  <input type="hidden" name="relocation" id="relocation" value="{{relocation}}"/>
				  <input type="hidden" name="rewarehouse" id="rewarehouse" value="{{rewarehouse}}"/>
				  <input type="hidden" name="recart" id="recart" value="{{recart}}"/>
				  <input type="hidden" name="reuser_in" id="reuser_in" value="{{reuser_in}}"/>
				  <input type="hidden" name="reuser_auto_key" id="reuser_auto_key" value="{{reuser_auto_key}}"/>
				  <input type="hidden" name="renew_status" id="renew_status" value="{{renew_status}}"/>
			      {% if reent == '1' %}
				  <label>Re-enter Record</label>
				  <div class="cell large-6 medium-6 small-12">
                      <input type="input" name="label_input" id="label_input" class="label_input" value=""/>
				  </div>
				  {% endif %}
				  <div class="cell large-6 medium-6 small-12">
				      <button class="secondary button shadow" id="ok_button" style="float:right; margin-top:-20px;" type="submit" data-dismiss="modal">GO</button>
				  </div>
				  <div><br/><br/></div>					  
                </form>
                <div><br/><br/></div>
          </div> 
          </div>                
       </div>
      </div>
	  {% endif %}   
    <!-- End modal error popup --> 

<!-- Off-canvas Menu -->

<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

<!-- Close button -->
<button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
<!-- Menu -->
<ul class="vertical mro-menu menu">
	<li class="mro-menu-logo">
		<a href="http://mrolive.com/" target="_blank">
			<img src="{% static 'dist/assets/img/MROlive-logo.png' %}" alt="Where Productivity Takes Flight" alt="MRO Live - Where Productivity Takes Flight">
		</a>
	</li>
	{% if op_apps %}
	<div class="subhead">Operations</div>
	{% endif %}
	{% for app in op_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if mgmt_apps %}
	<div class="subhead">Management</div>
	{% endif %}
	{% for app in mgmt_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if dash_apps %}
	<div class="subhead">Dashboards</div>
	{% endif %}
	{% for app in dash_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if setup_apps %}
	<div class="subhead">Setup</div>
	{% endif %}
	{% for app in setup_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
    <li><a href="/login">Logout</a></li><li><a href="/portal/pass-reset/">Reset Password</a></li>
</ul>

</div>  
<!-- Off-canvas Menu - END -->
    <div class="grid-container mro-top-section">
      <div class="grid-x grid-padding-x">    
          <div class="mro-top-section-wrapper mro-search">
            <div class="mro-top-section">
			  <form method="POST" id="base_form" name="base_form"> 
			  <input type="hidden" name="clear_form" id="clear_form" value="0"/>
			  <input type="hidden" name="session_id" id="session_id" value="{{session_id}}"/>
			  <input type="hidden" name="show_status" id="show_status" value="{{ show_status }}"/>
			  <input type="hidden" name="show_user" id="show_user" value="{{show_user}}"/>
			  <input type="hidden" name="show_all" id="show_all" value="{{ show_all }}"/>
			  <input type="hidden" name="scan_input" id="scan_input" value=""/>
			  <input type="hidden" name="lookup_recs" id="lookup_recs" value="{{ lookup_recs}}"/>
			  <input type="hidden" name="user_apps" id="user_apps" value="{{ user_apps}}"/>
			  <input type="hidden" name="status_key" id="status_key" value="0"/>
			  <input type="hidden" name="dj_user_id" id="dj_user_id" value="{{dj_user_id}}"/>
			  {% csrf_token %}
			  {% if user_name != 'barcode_gen' %}
              <div class="mro-lightsearch">
			    <div class="medium-12 small-7 cell hide-for-medium">
				</div>
				<div class="medium-12 small-7 cell hide-for-medium">
				</div>
				<div class="cell large-6 medium-6 small-12">
				  {% if msg %}<div style="font-color:green;font-size:10pt;">{{ msg }}</div>{%  endif %}
				</div>
				<div class="cell large-auto medium-6 small-12">
				  <h1>Location Labels</h1>
				</div>
                <div class="grid-x grid-padding-x align-middle" style="width:100%;">	
					<div class="cell large-6 medium-6 small-12">
					  <label>WHS:</label>
					  <select style="background-color:#284a8a;color:white;" name="warehouse" id="warehouse">

					    {% for whs in warehouse_codes  %}		
							{% if default_whs == whs.warehouse_code %}
							  <option value="{{ whs.warehouse_code }}" selected>{{ whs.warehouse_code }}</option>	
							{% else %}						  
							<option value="{{ whs.warehouse_code }}">{{ whs.warehouse_code }}</option>
							{% endif %}						
						{% endfor %}
				  	  </select>
					  <!--input type="text" list="whs_list" name="warehouse" id="warehouse"/>
					  <datalist id="whs_list">
							
						{% for whs in warehouse_codes %}					
						<option value="{{ whs.warehouse_code }}">{{ whs.warehouse_code }}</option>						
						{% endfor %}
					  </datalist-->
					</div>				
					<div class="cell large-6 medium-6 small-12">
					  <label>Label</label>	
					  {{ form.label }}
					</div>
					<div class="cell large-6 medium-6 small-12">
					  <label>From #</label>	
					  {{ form.from_num }}
					</div>
					<div class="cell large-6 medium-6 small-12">
					  <label>To #</label>	
					  {{ form.to_num }} 
					</div>
					<div class="cell large-6 medium-6 small-12">
					  <label for="type">Encoding:</label>
					  <input type="text" id="type" name="type" value="{{type}}"/>	
					</div>
					<div class="cell large-6 medium-6 small-12">
					  <div class="cell large-auto medium-6 small-12">
					    <input class="primary button shadow" type="submit" value="Generate" name="generate" id="generate" onclick="this.disabled=true,this.form.submit();"/>
					   </div>
					</div>	
					<div class="cell large-6 medium-6 show-for-large">
                      <hr/>
                    </div>
                  </div>
			    </form>
                </div>
				{% endif %}
				{% if list_range and list_range != None %}
                <div class="mro-lightsearch">					
					<div class="grid-x grid-padding-x align-middle" style="width:100%;">
						<div class="cell large-6 medium-6 small-12">
							<button class='export-pdf secondary button shadow'>Export as PDF</button>
						</div>
						<div class="cell large-6 medium-6 small-12">
							<button class='print-labels secondary button shadow'>Print</button>
						</div>
					</div>								
				</div>
				<div class="mro-lightsearch">
				    <div class="grid-x grid-padding-x align-middle" style="width:auto;">
						<div id="barcode" class="barcode align-middle" name="barcode" style="width:4in;height:5.5in;margin-bottom:250px;">
						{% for element in list_range%}
						  
						  <div style="font-size:36pt!important;width:316px;height:312px;margin:50px;" class="cell large-6 medium-6 small-12 {{element}}" id="{{element}}" name="{{element}}"></div>
                          <span class="barcode_text">{{element}}</span>
						{% endfor %}			
						</div>
					</div>
				</div>
				{% endif %}	
				</div>
            </div>        
		</div>
      </div>
    </div>
    <div class="mro-top-section-wrapper mro-table">
      <div class="grid-container mro-top-section">
	      <div class="grid-x grid-padding-x">
			<script>
            function setOptions(e) {
                var validValue = $('#validValue');
                try {
				    {% for element in list_range %}
                    var barcode = $('#{{ element }}').data('kendoBarcode');
                    barcode.setOptions({
                        value: '{{ element }}',
                        checksum: true,
                        text: {
                            visible: true
                        },
                        type: '{{ type }}'
                    })
					{% endfor %}
                    validValue.hide();
                } catch (e) {
                    validValue.text(e.message).show();
                }
            }

			$(document).ready(function () {	
			  $(".export-pdf").click(function() {
					// Convert the DOM element to a drawing using kendo.drawing.drawDOM
					kendo.drawing.drawDOM($("#barcode"))
					.then(function(group) {
						// Render the result as a PDF file
						return kendo.drawing.exportPDF(group, {
							paperSize: "auto",
							margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
						});
					})
					.done(function(data) {
						// Save the PDF file
						kendo.saveAs({
							dataURI: data,
							fileName: "mrolive-barcode-labels.pdf",
							proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
						});
					});	
                  });					
                $('#type').kendoDropDownList({
                    dataSource: [
                     { type: 'Code128', value: "Howdy Yall!" },
                    ],
                    change: setOptions,
                    dataTextField: "type",
                    dataValueField: "type"
                });
                {% for element in list_range %}
                $("#{{element}}").kendoBarcode({
                    value: '{{ element }}',
                    type: '{{ type }}',
                    background: "transparent"
                });
				{% endfor %}
                $('.print-labels').click(function(){
                    var divToPrint=document.getElementById('barcode');
                    var newWin=window.open('','Print-Window');
                    newWin.document.open();
           		    newWin.document.write('<html><head> <link href="https://kendo.cdn.telerik.com/' + kendo.version + '/styles/kendo.common.min.css" rel="stylesheet" /></head>  <body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');
            	    newWin.document.close();


                })
                $('#type,#label,#text').change(setOptions);
            });
        </script>
    </div>
			    </div>			
		  </div>	
        <div class="grid-x mro-pagination-section">
          <div class="cell large-6 medium-6 small-12 ">
            <a class="mrotop" href="#mrotop" data-smooth-scroll><span>^</span> Back to Top</a>
          </div>
        </div>
	    </div>
	  </div>
		<div class="mro-footer-wrapper">
			<div class="grid-container mro-footer">
				<div class="grid-x">
					<div class="cell small-12">
						<img class="mro-footerlogo" src="{% static 'dist/assets/img/mro-live_header.png' %}" alt="Where Productivity Takes Flight" alt="MRO Live - Where Productivity Takes Flight">
					</div>
				</div>
				<div class="grid-x mro-footer-bottom">
					<div class="cell medium-5 small-12 mro-footer-bottom-left">
						<p>Copyright &copy; 2025 MRO Live <span>|</span> <img class="mro-usa" src="{% static 'dist/assets/img/usa.png' %}" alt="Based in USA">Based in USA</p>
					</div>
				</div>
			</div>
		</div>
    <script src="{% static 'dist/assets/js/app.js' %}"></script>
  </body>
</html>