<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRO Live - Lot Management - Where Productivity Takes Flight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'dist/assets/css/app.css' %}">
    <link href="{% static 'dist/assets/fontawesome/css/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="{% static 'jquery-1.12.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'field_focus.js' %}"></script>
	<script src="{% static 'jquery.bootstrap.modal.forms.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery_tab_submit.js' %}"></script>
	<style>
 		textarea {
		    width: 560px;
            height: 20px !important;
		}
	    .subhead {
			color:white;
			text-decoration:bold;
			font-size: large;
            margin-left: 65px;
		}
	    .username {
	        text-align:left;
			border:none;
			outline:none;
			background-color:#FFFFFF;
			color:black;
			text-decoration:bold;
		}
        .mro-top-section .mro-lightsearch .left-tab h1{
		    float:left;
			margin-left:-28px;
			padding-left:10px;
			border-top-left-radius:30px;
			border-top-right-radius:0px;
		    }
	    .mro-top-section .mro-lightsearch .left-tab h1:before {
		    display:hidden!important;
			position:unset!important;
			background: none;
		}
        @media screen and (max-width: 600px) {
		    .static_label {
			    color:white;
			}
		    select{
			    height: 1.5rem;
				/*padding: 5px;*/
				margin: 1px;
				/*color: white;
				background-color:#284a8a;*/
			}
			.mro_logo {
			    margin-left:auto;
				margin-right:auto;
				display: block;
			}
			.mro-top-section .mro-lightsearch .left-tab h1:after {
				content: '';
				background: #284a8a;
				margin-left:15px;
				-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
				clip-path: polygon(0 0, 0% 100%, 100% 100%);
				-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
				clip-path: polygon(0 0, 0% 100%, 100% 100%);
				display: block;
				position: absolute;
				height: 100%;
				width: 70px;
				top: 0px;
				z-index: 0;
				left:100px;
			}
			.mro-top-section .mro-lightsearch {
			    border-top-right-radius:0px;   
                border-top-left-radius:0px;			
			}
			.message-box {
			font-weight: bold; 
			font-size: 10px;
			color: #fff;
		   }
		}
        .cond_selector {
			margin: 0 0 1rem;
			padding: 0.25rem;
			/*-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;*/
			border: 0.5px solid ##284a8a;
			/*border-radius: 0;*/
			font-family: inherit;
			font-weight: normal;
        }	
		
	    .cond_selector select {
			margin: 0 0 1rem;
			padding: 0.25rem;
			/*-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;*/
			border: 0.5px solid ##284a8a;
			/*border-radius: 0;*/
			font-family: inherit;
			font-weight: normal;
			}
	    .username {
	        text-align:left;
			border:none;
			outline:none;
			background-color:#FFFFFF;
			color:black;
			text-decoration:bold;
		}
        .k-pager-wrap .k-dropdown {
            width: 100px;	    
        }
		.k-grid-toolbar { 
			background-color:#284a8a !important; 
		}
		.k-button { 
			background-color:#284a8a !important; 
		}
		.centered {
		  /*top: 50%;*/
		  left: 50%;
		  height: 100%;
		  /* bring your own prefixes */
		  transform: translateX(-50%);
		}
		.total_rows {
		 padding-left:5px;
		 display:inline;
		 text-align:left;
		 border:none;
		 outline:none;
		 background-color:#284a8a!important;
		 color:white;
		 text-decoration:bold;
		 height:25px;
		 width: 45px;
		}
		.sel_rows {
        display:inline;
		text-align:right;
		border:none;
		outline:none;
		background-color:#284a8a!important;
		color:white;
		text-decoration:bold;
		height:25px;
		width: 55px;
		}
		.counter_wrap {
		width:auto;
		float:right;
		margin-top:-45px;
		margin-bottom: 5px;
		z-index:1000!important;
		color: white;
		}
		.save_buttons {
		margin-top: -45px;
	    padding-right: 5px;
		float:right;
		z-index:1000!important;
		}
    </style>
  </head>
  <body>
    <audio src="{% static 'error-trombone.mp3' %}" id="sad_trombone"></audio>
    <script type="text/javascript">
		$(document).ready(
			function () {
			    error = $("#error").val();
				if (error) {
                   $("#sad_trombone").get(0).play();
				}
			}
		)
    </script>
<div class="mro-header-wrapper">
	<section id="mrotop"></section>
	<div class="grid-container mro-header">
		<div class="grid-x medium-margin-collapse align-middle hide-for-medium" style="float:left;">
			<div class="cell large-1 medium-2 small-12 mro-menu-button">
				<a data-toggle="offCanvas"><i class="fas fa-bars"></i></a>
			</div>
			<div class="cell large-11 medium-10 small-12 show-for-medium"><hr/></div>
		</div>
		<div class="grid-x grid-padding-x align-middle">
			<div class="cell medium-7 small-12 mro-headerlogo">
				<a href="" alt="MRO Live - Homepage">
					<img style="max-width:361px;max-height:150px;" src="{% static 'dist/assets/img/mro-live_header.png' %}" alt="MROLive - Where Productivity Takes Flight">
				</a>
			</div>
			<!--div class="cell medium-5 small-12 mro-clientlogo show-for-medium">
				<a href="#" alt="MRO Live - Client Logo">
				  <img style="max-width:150px;" src="../../..{{ logo_url }}" alt="{{ user_name }}">
				</a>			
			</div-->
		</div>
		<div class="grid-x medium-margin-collapse align-middle show-for-medium">
			<div class="cell large-1 medium-2 small-12 mro-menu-button">
				<a data-toggle="offCanvas">Menu <i class="fas fa-bars"></i></a>
			</div>
			<div class="cell large-11 medium-10 small-12 show-for-medium"><hr/></div>
		</div>
		<!--div class="cell medium-7 small-12 mro-clientlogo hide-for-medium mro-mobileclient">
			  <a href="#" alt="MRO Live - Client Logo">
				<img style="max-width:150px;" src="../../..{{ logo_url }}" alt="{{ user_name }}">
			  </a>      
		</div-->
	</div>
</div>
<!-- Off-canvas Menu -->

<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

<!-- Close button -->
<button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
<!-- Menu -->
<ul class="vertical mro-menu menu">
	<li class="mro-menu-logo">
		<a href="http://mrolive.com/" target="_blank">
			<img src="{% static 'dist/assets/img/MROlive-logo.png' %}" alt="Where Productivity Takes Flight" alt="MRO Live - Where Productivity Takes Flight">
		</a>
	</li>
	{% if op_apps %}
	<div class="subhead">Operations</div>
	{% endif %}
	{% for app in op_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if mgmt_apps %}
	<div class="subhead">Management</div>
	{% endif %}
	{% for app in mgmt_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if dash_apps %}
	<div class="subhead">Dashboards</div>
	{% endif %}
	{% for app in dash_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if setup_apps %}
	<div class="subhead">Setup</div>
	{% endif %}
	{% for app in setup_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
    <li><a href="/login">Logout</a></li><li><a href="/portal/pass-reset/">Reset Password</a></li>
</ul>
</div>
<!-- Off-canvas Menu - END -->
    <div class="grid-container mro-top-section">
      <div class="grid-x grid-padding-x">
          <div class="mro-top-section-wrapper mro-search">
            <div class="mro-top-section" style="width:100%;">
			  <form method="POST" id="base_form" name="base_form" enctype="multipart/form-data"> 
				<input type="hidden" name="active_user" id="active_user" value="{{ user_id }}"/>
				<input type="hidden" name="update_session" id="update_session" value="{{ update_session }}"/>
				<input type="hidden" name="search_user" id="search_user" value="{{ search_user }}"/> 
				<input type="hidden" name="session_id" id="session_id" value="{{session_id}}"/>
				<input type="hidden" name="lookup_recs" id="lookup_recs" value="{{ lookup_recs}}"/>
				<input type="hidden" name="options_pagesize" id="options_pagesize"/>
				<input type="hidden" name="options_col" id="options_col"/>
				<input type="hidden" id="cons_code" value="{{consignment}}"/>
				<input type="hidden" id="pn" value="{{pn}}"/>
				<input type="hidden" id="cond_code" value="{{condition_code}}"/>
				<input type="hidden" id="s_number" value="{{serial_number}}"/>
				<input type="hidden" name="si_number" id="si_number" value="{{ si_number }}"/>
				<input type="hidden" id="parts_master" name="parts_master" value="{{parts_master}}"/>
				<input type="hidden" id="stm_auto_key" name="stm_auto_key" value="{{stm_auto_key}}"/>
				<input type="hidden" id="str_auto_key" name="str_auto_key" value="{{str_auto_key}}"/>
				<input type="hidden" name="wob_auto_key" id="wob_auto_key" value="{{ wob_auto_key }}"/>
				<input type="hidden" name="pnm_auto_key" id="pnm_auto_key" value="{{ pnm_auto_key }}"/>
				<input type="hidden" name="ctrl_id" id="ctrl_id" value="{{ ctrl_id }}"/>
				<input type="hidden" name="ctrl_number" id="ctrl_number" value="{{ ctrl_number }}"/>
				<input type="hidden" name="description" id="description" value="{{ description }}"/>
				<input type="hidden" name="serial_no" id="serial_no" value="{{ serial_no }}"/>
				<input type="hidden" name="qty" id="qty" value="{{ qty }}"/>
                <input type="hidden" id="single_stm" name="single_stm" value="{{single_stm}}"/>				
              <div class="mro-lightsearch">
			    <div class="large-6 medium-12 small-7 cell hide-for-medium">
				</div>
				<div class="large-6 medium-12 small-7 cell hide-for-medium">
				</div>
				<div class="cell large-6 medium-6 small-12">
				  <span class="left-tab">
				    <h1><span style="padding-left:5px;font-size:14px;">{{ user_name }}</span>
				    </h1>
				  </span>
				  <h1>Lot Management</h1>
				  {%  if msg %}<div style="font-weight: bold; color:green; font-size: 12px;">{{ msg }}</div>{%  endif %}
				</div>
                <div class="grid-x grid-padding-x align-middle">
				    {% csrf_token %}	
					<div class="cell large-6 medium-6 small-12">  
                     <label>Label</label>					
						<p>{{ form.wo_number }}</p>
					</div>
					{% if part_number %}
					<input type="hidden" name="wo_number" id="wo_number" value="{{ wo_number }}"/>
					<div class="cell large-6 medium-6 small-12">
					  <label>Condition</label>
					    <!-- style="background-color:#284a8a;color:white;" -->
						<select name="cond_selector" id="cond_selector">
							<option value=""> -- No Selection -- </option>
							{% for cond in conditions %}	
								{% if condition == cond.condition_code %}
								<option data-value="{{ cond.id }}" value="{{ cond.condition_code }}" selected>{{ cond.condition_code }}</option>
								{% else %}
								<option data-value="{{ cond.id }}" value="{{ cond.condition_code }}">{{ cond.condition_code }}</option>	
								{% endif %}
							{% endfor %}
						</select>		  
					</div>	
					<div class="cell large-6 medium-6 small-12">  
                     <label>Serial#</label>					
						<p>{{ form.serial_number }}</p>
					</div>
					<div class="cell large-6 medium-6 small-12">  
                     <label>PN</label>					
						<p>{{ form.part_number }}</p>
					</div>
					<div class="cell large-6 medium-6 small-12">  
                      <label>Cons</label>
					  <select name="cons_selector" id="cons_selector">
						<option value=""> -- No Selection -- </option>
						{% for cons in consignments %}	
							{% if consignment == cons.code %}
							<option data-value="{{ cons.id }}" value="{{ cons.code }}" selected>{{ cons.code }}</option>
							{% else %}
							<option data-value="{{ cons.id }}" value="{{ cons.code }}">{{ cons.code }}</option>	
							{% endif %}
						{% endfor %}
					  </select>
					</div>
					<div class="cell large-6 medium-6 small-12"> 
                     <label>Bag #</label>					
						<p><input type="text" name="spn_code" id="spn_code" value="{{ spn_code }}"></p>
					</div>
					<div class="cell large-6 medium-6 small-12"> 
                     <label>Notes</label>					
						<p>{{ form.notes }}</p>
					</div>
					<!--div class="cell large-6 medium-6 small-12"> 
                     <label>New WO</label>					
						<p><input type="checkbox" id="new_wo" name="new_wo" value="1" {{ new_wo }}></p>
					</div-->						
 					{% endif %}
				  <div class="large-6 small-12 cell">
					<div class="grid-x grid-padding-x align-middle mro-searchbuttonbox">
					  <div class="cell large-6 medium-6 small-12 mro-searchbuttonbox">
						<input class="primary button shadow" type="submit" value="Update" name="wo_submit" id="wo_submit"/>
					  </div>
					</div>
				  </div>
				  
				</form>
				<div class="cell large-6 medium-6 small-12 mro-searchbuttonbox">
					<form method="POST" id="clear_formage" name="clear_formage"> 
					  {% csrf_token %}
					  <input type="hidden" name="clear_form" id="clear_form" value="1"/>
					  <input type="hidden" name="user_logged" id="user_logged" value="{{ user_logged }}"/>
					  <input type="hidden" name="sel_mode" id="sel_mode" value="{{ sel_mode }}"/>
					  <input type="hidden" name="clear_show_status" id="clear_show_status" value="{{ show_status }}"/>
					  <input type="hidden" name="show_record" id="show_record" value="{{ show_record }}"/>
					</form>
				</div>
              </div>

			</div>
        </div>      
	</div>
  </div>
<!-- Modal Error Pop-up -->
<script>
$(function() {
    $("#errorModal").modal();//if you want you can have a timeout to hide the window after x seconds
});
</script>
    <!-- Modal -->
    {% if error %}
      <div class="modal fade" id="errorModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
		    <form method="POST" id="modal_error_form" name="modal_error_form">
            <!--div class="modal-header">
              <button type="button" class="close" id="x_button" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Error:</h4>
            </div-->
            <div class="modal-body">
			    <input type="hidden" id="error" name="error" value="{{ error }}"/><div style="font-weight: bold; color:red; font-size: 22px;">{{ error }}</div>
                <button class="secondary button shadow" id="ok_button" style="float:right; margin-top:-20px;" type="button" data-dismiss="modal">OK</button>
                <div><br/><br/></div>			
            </div>
			</form>
          </div>                
       </div>
      </div>
	  {% endif %}  
    <!-- End modal error popup --> 
	{% if total_rows and total_rows != '0' %}
	<div class="mro-bottom-section-wrapper mro-table">
      <div class="grid-container mro-bottom-section">
	      <div class="grid-x grid-padding-x">
			<div class="centered results_grid" id="results_grid" name="results_grid">
				<div class="counter_wrap">					  
					<button type="button" id="select_all" class="secondary button shadow" style="margin-left:-45px;padding:9px;">SELECT ALL</button>
					<input type="text" class="sel_rows" id="sel_rows" name="sel_rows" size="4" value="{{ sel_rows }}" readonly>
					of     <input type="text" class="total_rows" id="total_rows" name="total_rows" value="{{ total_rows }}" size="5" readonly>
				</div>				
				<script>
					kendo.ui.Grid.prototype._positionColumnResizeHandle= function() {
					  var that = this,
						  indicatorWidth = that.options.columnResizeHandleWidth,
						  lockedHead = that.lockedHeader ? that.lockedHeader.find("thead:first") : $();

					  that.thead.add(lockedHead).on("mousemove" + ".kendoGrid", "th", function (e) {
						var th = $(this);
						if (th.hasClass("k-group-cell") || th.hasClass("k-hierarchy-cell")) {
						  return;
						}
						that._createResizeHandle(th.closest("div"), th);
					  });
					};
			var oldPageSize = 0;
			$( "#select_all" ).click(function() {
			    var grid = $("#results_grid").data("kendoGrid");
				if (grid.dataSource.data().length === grid.select().length) {
					grid.clearSelection();
					$("input[type=hidden][class='woos']").remove();	
					$('#sel_rows').val(0);
				} 
				else {
					grid.select("tr");
				};
			});
			function onChange(e) {
				var rows = e.sender.select();
				var grid = $("#results_grid").data("kendoGrid");
				var currentPage = grid.dataSource.page();
				//console.log('current page: ' + currentPage + 'selected: ' + rows.length);
				//first it goes to woos_first and then onchange again, it goes to woos
				$("input[type=hidden][uipage='" + currentPage + "']").attr('class', 'woos_stale'); 
				rows.each(function(e) {
					var dataItem = grid.dataItem(this);	                  					
					var length = $('input[type=hidden][value=' + dataItem.id + ']').length;
                    //console.log(length);					
					if (length != 0) {
					   $('input[type=hidden][value=' + dataItem.id + ']').attr('class', 'woos'); 					   
					}
                    if (!length) {
					    
						var inputWoo = '<input type="hidden" uipage="' + currentPage + '" name="woos_list[]" id="woos_list[]" class="woos" value="' + dataItem.id + '" checked="checked"/>';
						console.log(inputWoo);	
						$('#session_id').after(inputWoo);						
					}
				var count = $("input[type=hidden][class='woos']").length;
				$('#sel_rows').val(count);					
			    $("input[type=hidden][uipage='" + currentPage + "'][class='woos_stale']").remove();				
				});	
			};
			$(document).ready(
				function () {					
					var dataSourceArguments = {
					    autoBind: false,
						pageSize: 25,
						serverPaging: true,
						//serverFiltering: true,
						serverSorting: true,
						transport: {
							read: {
								url: '/portal/json',
								dataType: "json",
								data: {'session_id': '{{ session_id }}'} // the parameter I need to send to the server
							}
						},
						schema: {
							total: "count",
							data: "results",
							model: { id: "id" }
						}
					}								
					var dsg = new kendo.data.DataSource(dataSourceArguments);
					$("#results_grid").kendoGrid({
					    toolbar: ["excel"],
						excel: {
							fileName: "lot-mgmt-export.xlsx",
							proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
							allPages: true
						},
						dataSource: dsg,
						//filterable: true,
						resizable: true,
                        sortable: true,
						reorderable: true,
						change: onChange,
                        selectable: "multiple, row",
						persistSelection: true,
                        navigatable: true,
						pageable: {
							refresh: true,
							pageSizes: true,
							buttonCount: 5,
						},						
				        columns: [
								{
								  field: 'wo_number',
								  title: 'WO#',
								  width: screen.availWidth*0.14,
								},
								{
								  field: 'part_number',
								  title: 'PN',
								  width: screen.availWidth*0.14,
								},						
								{
								  field: 'consignment_code',
								  title: 'Cons',
								  width: screen.availWidth*0.14,
								},
								{
								  field: 'condition_code',
								  title: 'Cond',
								  width: screen.availWidth*0.14,
								},
								{
								  field: 'stock_line',
								  title: 'SL',
								  width: screen.availWidth*0.14,
								},
								{
								  field: 'serial_number',
								  title: 'Serial',
								  width: screen.availWidth*0.14,
								},
								{
								  field: 'spn_code',
								  title: 'Bag#',
								  width: screen.availWidth*0.14,
								},									
								{
								  field: 'notes',
								  title: 'Notes',
								  width: screen.availWidth*0.14,
								},	
							]								
					});
					$("select[data-role='dropdownlist']").kendoDropDownList({
						dataTextField: "pageSize",
						dataValueField: "sizeValue",
						dataSource: [
							{pageSize: 25},
							{pageSize: 50},
							{pageSize: 100},
							{pageSize: 500},
							{pageSize: 2000},
							{pageSize: 'All', sizeValue:1000}
						]
					});
		        });
				  </script>
			</div>	
		  </div>
        <div class="grid-x mro-pagination-section">
          <div class="cell large-5 medium-6 small-12 ">
            <a class="mrotop" href="#mrotop" data-smooth-scroll><span>^</span> Back to Top</a>
          </div>
        </div>		  
	  </div>
	</div>
	{% endif %}					
<div class="mro-footer-wrapper">
	<div class="grid-container mro-footer">
		<div class="grid-x">
			<div class="cell small-12">
				<img class="mro-footerlogo" src="{% static 'dist/assets/img/mro-live_header.png' %}" alt="Where Productivity Takes Flight" alt="MRO Live - Where Productivity Takes Flight">
			</div>
		</div>

		<div class="grid-x mro-footer-bottom">
			<div class="cell medium-5 small-12 mro-footer-bottom-left">
				<p>Copyright &copy; 2022 MRO Live <span>|</span> <img class="mro-usa" src="{% static 'dist/assets/img/usa.png' %}" alt="Based in USA">Based in USA</p>
			</div>
			<!--div class="cell medium-7 small-12 mro-footer-bottom-right">
				<p><img src="{% static 'dist/assets/img/sectigo.png' %}" /> | Have Questions, Comments, or Concerns? <a href="mailto:Sales@MROLive.com">Get In Touch at Sales@MROLive.com</a></p>
			</div-->
		</div>
	</div>
</div><script src="{% static 'dist/assets/js/app.js' %}"></script>
</body>
</html>