<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
	<meta http-equiv="Pragma" content="no-cache" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRO Live - Teardown Traveller - Where Productivity Takes Flight</title>
    <link href="{% static 'dist/assets/fontawesome/css/all.css' %}" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    <!--link rel="stylesheet" href="{% static 'dist/assets/css/app.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="{% static 'jquery-1.12.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'field_focus.js' %}"></script>
	<script src="{% static 'jquery.bootstrap.modal.forms.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'jquery_tab_submit.js' %}"></script-->
    <style>
			body {
			  padding:10px;
			  font-family:arial;
			  text-align: justify;
			}
        @media screen {
			#barcode {
				width: 888px;
				height: auto;
				margin: auto;
				background-color:white;
			}
			
			.print_data {
				font-size:10pt;
				font-weight:bold;
				border:none;
				background:none;
			}
			.label_data {
				font-size:10pt;
				font-weight:bold;
				border:none;
				background:none;
			}
			.content-block {
				page-break-inside: avoid;
			}
			table {
			  padding:0px;
			  margin:0px;
			  width:100%;
			  border:none;
			}		
			table tr,td {
			  font-size:10pt;
			  background-color:white;
			  border:none;
			  margin: 0px;
			  padding: 0px;
			  page-break-before: always;
			  page-break-inside: avoid;
			}
			thead, tbody, tfoot {
			  background-color:white;
			  border:none;
			  margin: 0px;
			  padding: 0px;
			}
			table tbody tr:nth-child(even) {	
			  background-color:white;
			  border:none;
			  margin: 0px;
			  padding: 0px;
			  
			}
			text {
			  display: none;
			}
			/*pagination*/

			@page {
			  size: A4;
			  margin: 5%;
			  padding: 0 0 10%;
			}

			h3.pag {
			  display: none;
			  position: absolute;
			  page-break-before: always;
			  page-break-after: always;
			  bottom: 0;
			  right: 0;
			  margin-right:10px;
			}

			h3::before {
			  position: relative;
			  bottom: -15px;
			  right: -15px;
			}

		    .reload {
			  display: block;
		    }
		}
		@media print {
		  h3.pag {
			display: initial!important;
		  }
		  .reload {
			display: none!important;
		  }
		  text {
			display: none;
		  }
		}	  
    </style>
   </head>
    <script type="text/javascript">
		$(document).ready(function(){
			var head = $('#header');
			$( "tbody.tasks tr:nth-child(4n+4)" ).after(head.clone());
		});
	var bottom = 0; /* Position of first page number - 0 for bottom of first page */
	var pagNum = 2; /* First sequence - Second number */
	$(document).ready(function() {
	  /* For each 10 paragraphs, this function: clones the h3 with a new page number */
	  $("tbody.tasks tr:nth-child(4n+4)").each(function() {
	    bottom -= 100;
	    botString = bottom.toString();
	    var $counter = $('h3.pag1').clone().removeClass('pag1');
	    $counter.css("bottom", botString + "vh");
	    numString = pagNum.toString();
	    $counter.addClass("pag" + numString);
	    ($counter).insertBefore('.insert');
	    pagNum = parseInt(numString);
	    pagNum++; /* Next number */
	  });
	  $('.pag').last().remove()
	  var pagTotal = $('.pag').length; /* Gets the total amount of pages by total classes of paragraphs */
	  pagTotalString = pagTotal.toString();
	  $("h3[class^=pag]").each(function() {
	    /* Gets the numbers of each classes and pages */
	    var numId = this.className.match(/\d+/)[0];
	    document.styleSheets[0].addRule('h3.pag' + numId + '::before', 'content: "Page ' + numId + ' of ' + pagTotalString + '";');
	  });
	});
    </script>
    <body>
		<div id="barcode" class="barcode" name="barcode">			  
			<!--a href="http://18.188.56.36:8029/portal/teardown/{{quapi_id}}/{{wo_task}}/{{part_number}}/{{condition_code}}/{{notes}}" class="reload">
			  <button class="reload">Reload</button>
			</a-->
			<div class="header" id="header" style="border:1px solid;">
			  <table cellpadding="0" cellspacing="0" style="padding:5px;width:100%;border:none;margin:5px;">
				<tr>	
				  <td>			
				  <span style="padding-left:10px;width:45%;float:left;background-color:white;">
					  <img src="{% static 'logo.jpg' %}" height="105" alt="MRO Live - Where Productivity Takes Flight">
				  </span>
				<div style="padding-right:15px;max-width:290px;float:right;font-size:15pt;font-weight:bold;">WO#:{{si_number}}</div>			
				<div style="margin-top:35px;margin-left:685px;width:180px;height:85px;padding:5px;" class="{{si_number}}" id="{{si_number}}" name="{{si_number}}"></div> 
				  </td>
				</tr>
			  </table>	  
			  <table cellpadding="0" cellspacing="0" style="margin:15px 0 15px 0;width:100%;border:none;padding:5px;">
				<tr>
				  <td align="right" class="label_data">CUSTOMER</td>
				  <td align="right" class="label_data">: </td>
				  <td><span class="print_data">{{customer}}</span></td>
				  <td><img style="height:1px;width:150px;" src="{% static blank.png %}"></td>
				  <td align="right" class="label_data">ATA CODE</td>
				  <td align="right" class="label_data">: </td>
				  <td><span class="print_data">{{ata_code}}</span></td>	
				</tr>
				<tr>				
				  <td align="right" class="label_data">ESN</td>
				  <td align="right" class="label_data">: </td>
				  <td><span class="print_data">{{esn}}</span></td>
				  <td><img style="height:1px;width:150px;" src="{% static blank.png %}"></td>
				  <td align="right" class="label_data">DATE</td>
				  <td align="right" class="label_data">: </td> 
				  <td><span class="print_data">{{printed_date}}</span></td>					  
				</tr>
				<tr>				
				  <td align="right" class="label_data">ENG MODEL</td>
				  <td align="right" class="label_data">: </td>
				  <td><span class="print_data">{{eng_model}}</span></td>
				  <td><img style="height:1px;width:150px;" src="{% static blank.png %}"></td>
				  <td align="right" class="label_data">TO SUPPLY WO</td>
				  <td align="right" class="label_data">: </td>
				  <td><span class="print_data">{{to_supply_wo}}</span></td>					  
				</tr>
			</table>
				<!--tr>
				  <td colspan="6"-->
				  
					<table cellpadding="0" cellspacing="0" style="margin:15px 0 15px 0;border-top:1px solid;width:100%;padding:5px;">
						<tr>
						  <td align="right" class="label_data">PN</td>
						  <td align="right" class="label_data">: </td> 
						  <td><span class="print_data">{{part_number}}</span></td>
						  <td align="right" class="label_data">WORK REQUEST</td>
						  <td align="right" class="label_data">: </td>
						  <td><span class="print_data">{{work_request}}</span></td>
						</tr>
						<tr>
						  <td align="right" class="label_data">DESC</td>
						  <td align="right" class="label_data">: </td>
						  <td><span class="print_data">{{description}}</span></td>
						  <td align="right" class="label_data">QTY</td>
						  <td align="right" class="label_data">: </td>
						  <td><span class="print_data">{{qty}}</span></td>  	
						</tr>
						<tr>
						  <td align="right" class="label_data">SN</td>
						  <td align="right" class="label_data">: </td>
						  <td><span class="print_data">{{serial_number}}</span></td>
						  <td align="right" class="label_data">PRINTED BY</td>
						  <td align="right" class="label_data">: </td>
						  <td><span class="print_data">{{printed_by}}</span></td>
						</tr>
					</table>
				  <!--/td>
				</tr>
			  </table-->
			</div>	
			<div id="main">				
			<table style="background-color:white;border:none;width:100%;">	
			  <tbody class="tasks">
			  {% for task in task_list %}  
			  <tr style="background-color:white;border:none;width:100%;">
				<td>
				   <table class="content-block task-table" style="width:100%;background-color:white;padding:5px;margin:5px;font-size:10pt;">
					  <!--tr class="content-block">
						<td colspan="3">
						   <span>SEQ: {{task.wot_sequence}}</span>
						</td>
					  </tr-->
					  <tr>
						<td style="width:50%">
						   <!--img style="min-width:500px;max-width:500px; height:1px;" src="{% static 'blank.png' %}"/-->	   
						   <span style="min-width:300px;max-width:300px;">SEQ: {{task.wot_sequence}}</span>
						   <br/>
						   <span style="min-width:300px;max-width:300px;">{{task.wot_description}}</span>
						</td>
						<td style="width:25%">
							<!--div style="float:left;padding-left:15px;height:55px;width:150px;" id="{{task.wot_auto_key}}s" name="{{task.wot_auto_key}}s"></div>
							<div style="float:left;padding-left:15px;height:55px;width:150px;" id="{{task.wot_auto_key}}c" name="{{task.wot_auto_key}}c"></div-->
						   <span style="margin-left:-38px;">START:</span>
						   <span style="margin-top:-20px;height:55px;width:120px;" id="{{task.wot_auto_key}}s" name="{{task.wot_auto_key}}s"></span>
						</td>
						<td style="width:25%">					
						   <span style="margin-left:-33px;">STOP:</span>
						   <span style="margin-top:-20px;height:55px;width:120px;" id="{{task.wot_auto_key}}c" name="{{task.wot_auto_key}}c"></span>
						</td>
					  </tr>
					  <tr style="max-height:120px;border:1px solid;padding:5px;margin:5px;">
						<!--td style="width:90%">
						  <div style="margin-left:5px;">Seq: {{task.wot_sequence}} Description: OD 1:_______________________</div>
						  <div style="margin-left:5px;">Seq: {{task.wot_sequence}} Description: OD 2:_______________________</div>			  
						</td-->
						<td colspan="3" style="max-height:120px;margin:0px;padding:0px;">
						  <table style="float:left;width:60%;">
							<tr>
							  <td>{{placeholder}}&nbsp;</td>
							</tr>
						  </table>
						  <table style="max-height:80px;width:35%;float:right;margin:5px;padding:5px;">
							<tr>
							   <td align="middle" style="border:1px solid;width:33%;max-height:25px;">DATE</td>
							   <td align="middle" style="border:1px solid;width:33%;max-height:25px;">TECHNICIAN</td>
							   <td align="middle" style="border:1px solid;width:33%;max-height:25px;">INSPECTOR</td>
							</tr>
							<tr>
							   <td style="border:1px solid;width:33%;height:65px;"></td>
							   <td style="border:1px solid;width:33%;height:65px;"></td>
							   <td style="border:1px solid;width:33%;height:65px;"></td>
							</tr>			
						  </table>
						</td>
					  </tr>
					</table>
				</td>
			  </tr>
			{% endfor %}
              </tbody>			
			</table>
			</div>

			  <div id="footer" class="content-block">
				  <div style="padding:10px;border:1px solid;font-size:8pt;font-weight:bold;">THE PART OR COMPONENT IDENTIFIED ABOVE WASH 
				   REPAIRED AND INSPECTED IN ACCORDANCE WITH CURRENT MAINTENANCE
				   RULES OF THE FEDERAL AVIATION REGULATIONS AND IS APPROVED FOR RETURN TO SERVICE.
				   MAINTENANCE RELEASE ISSUED ON DATE: ____________________________ STAMP/SIG:____________________________
				  </div>
				  <div style="float:right;height:50px;width:20%;float:left;font-size:9pt;font-weight:bold;"> 
					LG-015 REV. 3, DEC 2023
				  </div>
			  </div>
				  <!--div style="float:right;position:fixed;bottom:0px;right:0px;" class="content-block"-->
				    <h3 style="padding-right:15px;float:right;position:fixed;bottom:0px;right:0px;font-size:10pt;" class="pag pag1"></h3>
				    <div class="insert"></div>
				  <!--/div-->
		</div>
	<script>
		// Import DejaVu Sans font for embedding

		// NOTE: Only required if the Kendo UI stylesheets are loaded
		// from a different origin, e.g. cdn.kendostatic.com
		kendo.pdf.defineFont({
			"DejaVu Sans"             : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
			"DejaVu Sans|Bold"        : "https://kendo.cdn.telerik.com<di/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
			"DejaVu Sans|Bold|Italic" : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
			"DejaVu Sans|Italic"      : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
			"WebComponentsIcons"      : "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
		});
	</script>
	<script>
		function setOptions(e) {
			var validValue = $('#validValue');
			try {
				var barcode = $('#{{ element }}').data('kendoBarcode');
				barcode.setOptions({
					value: {{ element }},
					checksum: true,
					text: {
						visible: true
					},
					type: "Code128"
				})
				validValue.hide();
			} catch (e) {
				validValue.text(e.message).show();
			}
		}
		$('#type').kendoDropDownList({
			dataSource: [
			 { type: 'Code128', value: "Howdy Yall!" },
			],
			change: setOptions,
			dataTextField: "type",
			dataValueField: "type"
		});		
		$(document).ready(function () {		
	        $(".{{si_number}}").kendoBarcode({
				value: '{{ si_number }}',
				type: 'Code128',
				background: "transparent"
			});
			{% for task in task_list %}
				$("#{{task.wot_auto_key}}c").kendoBarcode({
					value:'{{ task.wot_auto_key }}c',
					type:'Code128',
					text: {
						visible: true
					},
					background:"transparent"
				});			
			{% endfor %}
			{% for task in task_list %}
				$("#{{task.wot_auto_key}}s").kendoBarcode({
					value:'{{ task.wot_auto_key }}s',
					type:'Code128',
					text: {
						visible: true
					},
					background:"transparent"
				});			
			{% endfor %}
		});
		$('#type,#label,#text').change(setOptions);
    </script>
    <script src="{% static 'dist/assets/js/app.js' %}"></script>
  </body>
</html>