<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	{% if kiosk == 'T' and msg and not error and active_mode != 'batch-recall' and active_mode != 'create-batch'%}
	<meta http-equiv="refresh" content="5" />
	{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRO Live Labor Tracking - Where Productivity Takes Flight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'dist/assets/css/app.css' %}">
    <link href="{% static 'dist/assets/fontawesome/css/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script-->
	<script type="text/javascript" src="{% static 'jquery-1.12.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'field_focus.js' %}"></script>
	<script src="{% static 'jquery.bootstrap.modal.forms.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery_tab_submit.js' %}"></script>
	<script src="https://demos.telerik.com/kendo-ui/content/shared/js/console.js"></script>
    <script src="https://demos.telerik.com/kendo-ui/content/shared/js/orders.js"></script>
	<style>
		.grid_title {
			width:20%;
			margin-right:auto;
			margin-left:auto;
			margin-top:-15px;
			text-decoration:bold;
			z-index:1000!important;
			color: white;
			font-size:16pt;
		}
	    .subhead {
			color:white;
			text-decoration:bold;
			font-size: large;
            margin-left: 65px;
		}
        .mro-top-section .mro-lightsearch .left-tab h1{
		    float:left;
			margin-left:-28px;
			padding-left:10px;
			border-top-left-radius:30px;
			border-top-right-radius:0px;
		    }
	    .mro-top-section .mro-lightsearch .left-tab h1:before {
		    display:hidden!important;
			position:unset!important;
			background: none;
		}
		.mro_logo {
            max-width:361px;
			max-height:150px;
		}
		@media screen and (max-width: 600px) {
		    select{
			    height: 1.5rem;
				/*padding: 5px;*/
				margin: 1px;
				color: white;
				background-color:#284a8a;
			}
			.mro_logo {
			    margin-left:auto;
				margin-right:auto;
				display: block;
			}
			.mro-top-section .mro-lightsearch h1{
			    margin: -3em -28px;
			}
			.mro-top-section .mro-lightsearch .left-tab h1:after {
				content: '';
				background: #284a8a;
				margin-left:15px;
				-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
				clip-path: polygon(0 0, 0% 100%, 100% 100%);
				-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
				clip-path: polygon(0 0, 0% 100%, 100% 100%);
				display: block;
				position: absolute;
				height: 100%;
				width: 70px;
				top: 0px;
				z-index: 0;
				left:100px;
			}
			.mro-top-section .mro-lightsearch {
			    border-top-right-radius:0px;   
                border-top-left-radius:0px;			
			}
			.message-box {
			font-weight: bold; 
			font-size: 10px;
			color: #fff;
		   }
		}
        .mode_selector {
			margin: 0 0 1rem;
			padding: 0.25rem;
			/*-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;*/
			border: 0.5px solid ##284a8a;
			/*border-radius: 0;*/
			font-family: inherit;
			font-weight: normal;
        }	
		
	    .mode_selector select {
			margin: 0 0 1rem;
			padding: 0.25rem;
			/*-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;*/
			border: 0.5px solid ##284a8a;
			/*border-radius: 0;*/
			font-family: inherit;
			font-weight: normal;
	    }
	    .username {
	        text-align:left;
			border:none;
			outline:none;
			background-color:#FFFFFF;
			color:black;
			text-decoration:bold;
		}
        .k-pager-wrap .k-dropdown {
            width: 100px;	    
        }
		.k-grid-toolbar { 
			background-color:#284a8a !important; 
		}
		.k-button { 
			background-color:#284a8a !important; 
		} 
		.centered {
		  /*top: 50%;*/
		  left: 50%;
		  height: 100%;
		  /* bring your own prefixes */
		  transform: translateX(-50%);
		}
		.total_rows {
		 padding-left:5px;
		 display:inline;
		 text-align:left;
		 border:none;
		 outline:none;
		 background-color:#284a8a!important;
		 color:white;
		 text-decoration:bold;
		 height:25px;
		 width: 45px;
		}
		.sel_rows {
        display:inline;
		text-align:right;
		border:none;
		outline:none;
		background-color:#284a8a!important;
		color:white;
		text-decoration:bold;
		height:25px;
		width: 55px;
		}
		.counter_wrap {
		width:auto;
		float:right;
		margin-top:-45px;
		margin-bottom: 5px;
		z-index:1000!important;
		color: white;
		}
		.save_buttons {
		margin-top: -45px;
	    padding-right: 5px;
		float:right;
		z-index:1000!important;
		}
       .loader,
        .loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }
        .loader {            
            margin: 60px auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 1.1em solid rgba(255, 255, 255, 0.2);
            border-right: 1.1em solid rgba(255, 255, 255, 0.2);
            border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
            border-left: 1.1em solid #ffffff;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;
        }
        @-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        #loadingDiv {
            position:absolute;;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color:#000;
        } 
    </style>
     <script type="text/javascript">
	 	$('a[role=button]').text('Export');

	    {% if kiosk == 'T' and not user_name %}
			function setFocusOnLoad(){
			    var user_id = document.getElementById('user_id');
				user_id.focus();
				//user_id.innerHTML = '';
			}
	    {% elif kiosk == 'T' and user_name %}
			function setFocusOnLoad(){
			    var wo_number = document.getElementById('wo_number');
				wo_number.focus();
				//wo_number.innerHTML = '';
			}
	    {% else %}
			function setFocusOnLoad(){
			    var wo_number = document.getElementById('wo_number');
				wo_number.focus();
				//wo_number.innerHTML = '';
			}		
		{% endif %}
	</script>
 
 </head>
 
  <body onload='setFocusOnLoad()'>
    <audio src="{% static 'error-trombone.mp3' %}" id="sad_trombone"></audio>
    <script type="text/javascript">
		function removeLoader(){
			$( "#loadingDiv" ).fadeOut(500, function() {
			  // fadeOut complete. Remove the loading div
			  $( "#loadingDiv" ).remove(); //makes page more lightweight 
		  });  
		}
		$(document).ready(
			function () {
			    $('a[role=button]').text('Export');
				error = $("#error").val();
				//console.log(error);
				if (error) {
				   $("#sad_trombone").get(0).play();
				}
		    var autoselect = document.getElementById('wo_number');
	        autoselect.select();
            var laborForm = $("#labor_form")
			
			laborForm.on('keyup keypress', function(evt) {  
				var charCode = evt.keyCode || e.which;   
				if(charCode == 9 && batch_id != null){			
					evt.preventDefault();
					if ($('#wo_number').is(':focus')){
						laborForm.submit();
						if ($form.data('submitted') === true) {
						  alert("ALREADY SUBMITTING FORM VIA QUANTITY TAB OR ENTER!");
						  // Previously submitted - don't submit again
						  evt.preventDefault ? evt.preventDefault() : (evt.returnValue = false);
						} 
						else {
						  // Mark it so that the next submit can be ignored
						  $form.data('submitted', true);
						}
					}
				}				
			});
            		
			laborForm.on("keydown", "#batch_recall", function(evt){
				var charCode = evt.keyCode || e.which;
				
				if(charCode == 13) {
					$('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
					$(window).on('load', function(){
						setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
					});
			    }
				
			});	

			laborForm.on("keydown", "#wo_number", function(evt){
				var charCode = evt.keyCode || e.which;
				var batch_no = $('batch_no').val();
				
				if( charCode == 9 ) {
				  $('add_task').val('1');
					$('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
					$(window).on('load', function(){
						setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
					});
					laborForm.submit(); 
					
				}	
				
				if(charCode == 13) {
					$('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
					$(window).on('load', function(){
						setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
					});
					laborForm.submit(); 
			    }
				
			});

			$("input").click(function(e){
			
			    var $form = $(this);
				var id_clicked = e.target.id;			
				var charCode = e.keyCode || e.which;
				if (id_clicked == 'remove') {
					$('#remove_wots').val('T');
					$('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
						$(window).on('load', function(){
							setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
					});			
				    laborForm.submit(); 					
				}
				
				else if (id_clicked == 'add' || id_clicked == '') {
					$('#add_wots').val('T');
					$('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
						$(window).on('load', function(){
							setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
					});			
				    laborForm.submit(); 					
				}
				
				//if not tab key
			   else if (charCode == 9) {
				 $('add_task').val('1');
				 $('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
					$(window).on('load', function(){
						setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
				 });			
				 laborForm.submit();
			   }	
				
			   else if (charCode != 9) {
			     if (id_clicked=='wo_number' || id_clicked=='batch_recall') {																							
						if(charCode == 13 || charCode == 9) {
							$('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
								$(window).on('load', function(){
									setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
							});			
							laborForm.submit(); 
						
						if ($form.data('submitted') === true) {
						    alert("Click or hit enter only once to submit.");
						    // Previously submitted - don't submit again
						    e.preventDefault ? e.preventDefault() : (e.returnValue = false);
							} 
	   
							else {
							  // Mark it so that the next submit can be ignored
							  $form.data('submitted', true);
							}	
                        }
                    }						
					if (id_clicked=='not_complete' || id_clicked=='yes_complete') {
						$('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
							$(window).on('load', function(){
								setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
						});
						
    					$("#comp_form").submit();
						if ($form.data('submitted') === true) {
						  alert("Click or hit enter only once to submit.");
						  // Previously submitted - don't submit again
						  e.preventDefault ? e.preventDefault() : (e.returnValue = false);
						} 
						else {
						  // Mark it so that the next submit can be ignored
						  $form.data('submitted', true);
						}
					}			
					if (id_clicked == 'task_submit' || id_clicked == 'labor_submit') {	
						$('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
							$(window).on('load', function(){
								setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
						});
						
        				if (id_clicked == 'task_submit') {		
						$('#add_task').val('1');
                        }
						if ($form.data('submitted') === true) {
						  alert("Click or hit enter only once to submit.");
						  // Previously submitted - don't submit again
						  e.preventDefault ? e.preventDefault() : (e.returnValue = false);
						} 
						else {
						  // Mark it so that the next submit can be ignored
						  $form.data('submitted', true);
						}
                    }					
                }				
			});
		});
    </script>
<div class="mro-header-wrapper">
	<section id="mrotop"></section>
	<div class="grid-container mro-header">
		<div class="grid-x medium-margin-collapse align-middle hide-for-medium" style="float:left;">
			<div class="cell large-1 medium-2 small-12 mro-menu-button">
				<a data-toggle="offCanvas"><i class="fas fa-bars"></i></a>
			</div>
			<div class="cell large-11 medium-10 small-12 show-for-medium"><hr/></div>
		</div>
		<div class="grid-x grid-padding-x align-middle">
			<div class="cell medium-7 small-12 mro-headerlogo">
				<a href="" alt="MRO Live - Homepage">
					<img class="mro_logo" src="{% static 'dist/assets/img/mro-live_header.png' %}" alt="MROLive - Where Productivity Takes Flight">
				</a>
			</div>
			<!--div class="cell medium-5 small-12 mro-clientlogo show-for-medium">
				<a href="#" alt="MRO Live - Client Logo">
				  <img style="max-width:150px;" src="../../..{{ logo_url }}" alt="{{ user_name }}">
				</a>			
			</div-->
		</div>
		<div class="grid-x medium-margin-collapse align-middle show-for-medium">
			<div class="cell large-1 medium-2 small-12 mro-menu-button">
				<a data-toggle="offCanvas">Menu <i class="fas fa-bars"></i></a>
			</div>
			<div class="cell large-11 medium-10 small-12 show-for-medium"><hr/></div>
		</div>
		<!--div class="cell medium-7 small-12 mro-clientlogo hide-for-medium mro-mobileclient">
			  <a href="#" alt="MRO Live - Client Logo">
				<img style="max-width:150px;" src="../../..{{ logo_url }}" alt="{{ user_name }}">
			  </a>      
		</div-->
	</div>
</div>
<!-- Off-canvas Menu -->

<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

<!-- Close button -->
<button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
<!-- Menu -->
<ul class="vertical mro-menu menu">
	<li class="mro-menu-logo">
		<a href="http://mrolive.com/" target="_blank">
			<img src="{% static 'dist/assets/img/MROlive-logo.png' %}" alt="Where Productivity Takes Flight" alt="MRO Live - Where Productivity Takes Flight">
		</a>
	</li>
	{% if op_apps %}
	<div class="subhead">Operations</div>
	{% endif %}
	{% for app in op_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if mgmt_apps %}
	<div class="subhead">Management</div>
	{% endif %}
	{% for app in mgmt_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if dash_apps %}
	<div class="subhead">Dashboards</div>
	{% endif %}
	{% for app in dash_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	{% if setup_apps %}
	<div class="subhead">Setup</div>
	{% endif %}
	{% for app in setup_apps %}
      <li><a target="_blank" href="../{{ app.ml_apps_id.code }}/{{ quapi_id }}">{{ app.ml_apps_id.name }}</a></li>
    {% endfor %}
	<li><a href="/portal/pass-reset/{{ quapi_id }}">Reset Password</a></li>
    <li><a href="/login">Logout</a></li>
</ul>
</div>
<!-- Off-canvas Menu - END -->
    <div class="grid-container mro-top-section">
      <div class="grid-x grid-padding-x">
          <div class="mro-top-section-wrapper mro-search">
            <div class="mro-top-section" style="width:100%;">
			  <form method="POST" id="labor_form" name="labor_form" onsubmit='setFocusToTextBox()'> 
			      <input type="hidden" name="add_wots" id="add_wots" value="0"/>
				  <input type="hidden" name="remove_wots" id="remove_wots" value="0"/>
			      <input type="hidden" name="add_task" id="add_task" value="0"/>
				  <input type="hidden" name="active_user" id="active_user" value="{{ active_user }}"/>
				  <input type="hidden" name="active_mgr" id="active_mgr" value="{{ manager }}"/>
				  <input type="hidden" name="active_due_date" id="active_due_date" value="{{ new_due_date }}"/>
				  <input type="hidden" name="active_rank" id="active_rank" value="{{ rank }}"/>
				  <input type="hidden" name="update_session" id="update_session" value="{{ update_session }}"/>
				  <input type="hidden" name="search_user" id="search_user" value="F"/> 
				  <input type="hidden" name="session_id" id="session_id" value="{{session_id}}"/>
				  <input type="hidden" name="show_status" id="show_status" value="{{ show_status }}"/>
				  <input type="hidden" name="show_user" id="show_user" value="{{show_user}}"/>
				  <input type="hidden" name="show_all" id="show_all" value="{{ show_all }}"/>
				  <input type="hidden" name="lookup_recs" id="lookup_recs" value="{{ lookup_recs}}"/>
				  <input type="hidden" name="status_key" id="status_key" value="0"/>
				  <input type="hidden" name="options_pagesize" id="options_pagesize"/>
				  <input type="hidden" name="options_col" id="options_col"/>
				  <input type="hidden" name="batch_no" id="batch_no" value="{{batch_no}}"/>
				  <input type="hidden" name="description" id="description" value="{{description}}"/>
				  <input type="hidden" name="button_txt" id="button_txt" value="{{button_txt}}"/>
                  <input type="hidden" name="stop_batch" id="stop_batch" value="{{stop_batch}}"/>
				  <input type="hidden" name="start_batch" id="start_batch" value="{{start_batch}}"/>
				  <input type="hidden" name="wot_key" id="wot_key" value="{{wot_key}}"/>
				  <input type="hidden" name="single_wot" id="single_wot" value="{{single_wot}}"/>
				  {% if kiosk == 'T' and not user_name %}	
				  <input type="hidden" name="wo_number" id="wo_number"/>
				  {% endif %}
				  {% csrf_token %}
              <div class="mro-lightsearch">
			    <div class="large-6 medium-12 small-7 cell hide-for-medium">
				</div>
				<div class="large-6 medium-12 small-7 cell hide-for-medium">
				</div>
				<div class="cell large-6 medium-6 small-12">
				  <span class="left-tab">
				    <h1><span style="padding-left:5px;font-size:14px;">{{ user_name }}</span>
				    </h1>
				  </span>
				  <h1 style="border-top-right-radius:20px;"><span style="padding:5px;font-size:14px;">LABOR</span>
                  <h1>
				      {% if user_name or user_id %}	
					  <select style="background-color:#284a8a;color:white;" name="mode_selector" id="mode_selector">
					  {% for mmod in modes  %}						
						{% if mmod.code == active_mode %}
						<option value="{{ mmod.code }}" selected>{{ mmod.name }}</option>
						{% else %}
						<option value="{{ mmod.code }}">{{ mmod.name }}</option>
						{% endif %}							
						{% endfor %}
				  	  </select>
					  {% endif %}
				  </h1>					  
				</div>
                <div class="grid-x grid-padding-x align-middle">
              	{% if kiosk == 'T' and not user_name %}			
                  <div class="cell large-6 medium-6 small-12">
                    <label>Emp ID
					{{ form.user_id }} 
					</label>
                  </div>
				{%  endif %}
				{% if user_name or user_id %}
				{% if active_mode == 'batch-recall' or active_mode == 'create-batch' %}
				  {% if button_txt == 'Start Batch' or button_txt == 'Stop Batch' %}
				  <div class="cell large-6 medium-6 small-12">
                      <label>Active Batch: {{ batch_no }}</label>
                  </div>
				  <span></span>
				  {% endif %}
				{%  endif %}
				{%  if msg %}
				  <div class="cell large-6 medium-6 small-12">
                      <label>{{ msg }}</label>
                  </div>
				{% endif %}			
					{% if active_mode == 'batch-recall' %}
						{% if batches and button_txt == 'Recall Batch' %}
						<div class="cell large-6 medium-6 small-12">
						  <label>Batch</label>
						  <input type="text" autocomplete="off" name="batch_recall" list="batch_ids" id="batch_recall" value="{{ batch_recall }}"/>
						  <datalist id="batch_ids">
							<option value=""> -- No Selection -- </option>
							{% for batch in batches %}						
							<option data-value="{{ batch.batch_id }}" value="{{ batch.batch_id }}">{{ batch.batch_id }}</option>							
							{% endfor %}
						  </datalist>				  
						</div>
						{% endif %}
                    {% endif %}
					{% if button_txt != 'OK' and active_mode == 'create-batch' and button_txt != 'Start Batch' and button_txt != 'Stop Batch'%}
					<div class="cell large-6 medium-6 small-12">
						<label>Batch</label>
						<input type="text" name="batch_recall" id="batch_recall" value="{{ batch_recall }}"/>
					</div>
					{% endif %}
				    {% if button_txt != 'OK' and show_task != 'F' and button_txt != 'Create' and button_txt != 'Stop Batch' and button_txt != 'Recall Batch' and button_txt != 'Stop Task' %}					
					<div class="cell large-6 medium-6 small-12">
					  <label>Record</label>
					  {{ form.wo_number }}
                      <!--input type="text" name="wo_number" id="wo_number"/-->					  
					</div>
			        {% else %}
					  <input type="hidden" name="wo_number" id="wo_number" value="{{wot_auto_key}}"/>
					{% endif %}
				 {% endif %}
				  <div class="large-6 small-12 cell">
					<div class="grid-x grid-padding-x align-middle mro-searchbuttonbox">
					  <div class="cell large-6 medium-6 small-12 mro-searchbuttonbox">
					  {% if button_txt and button_txt != 'Start' %} 		
					  <input style="float:left;" class="primary button shadow" type="submit" value="{{ button_txt }}" name="labor_submit" id="labor_submit"/>
					  {% endif %}
					  {% if button_txt and button_txt == 'Start' %} 		
					  <input style="float:left;" class="primary button shadow" type="submit" value="Add" name="labor_submit" id="labor_submit"/>
					  {% endif %}
					    {% if active_mode != 'tracking' and button_txt != 'Start' and button_txt != 'OK' and batch_no and button_txt != 'Stop Batch' and button_txt != 'Recall Batch' %} 
					    <input style="float:left;" class="primary button shadow" type="submit" value="Add Task" name="task_submit" id="task_submit"/>
                        {% endif %}				
					  </div>
		            </form>
					<div class="cell large-6 medium-6 small-12 mro-searchbuttonbox">
						<form method="POST" id="clear_formage" name="clear_formage"> 
						  {% csrf_token %}
						  <input type="hidden" name="clear_form" id="clear_form" value="1"/>
						  <input type="hidden" name="user_logged" id="user_logged" value="{{ user_logged }}"/>
						  <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}"/>
						  <input type="hidden" name="clear_show_status" id="clear_show_status" value="{{ show_status }}"/>
						  <input type="hidden" name="sel_mode" id="sel_mode" value="{{ sel_mode }}"/>
						  <input type="hidden" name="show_record" id="show_record" value="{{ show_record }}"/>
						</form>
					</div>
					</div>
				    </div>
				  </div>
				</div>
              </div>
			</div>
		</div>      
	</div>
<script>
$(function() {
    $("#myModal").modal();//if you want you can have a timeout to hide the window after x seconds
});
</script>
    <!-- Modal -->
    {% if show_conf == 'T' %}
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Task(s) Complete?<br/></h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="comp_form" name="comp_form">
                  {% csrf_token %}
				  <input type="hidden" name="user_id" id="user_id" value="{{user_id}}"/>
				  <input type="hidden" name="user_name" id="user_name" value="{{user_name}}"/>
				  <input type="hidden" name="wot_auto_key" id="wot_auto_key" value="{{wot_auto_key}}"/>
				  <input type="hidden" name="single_wot_key" id="single_wot_key" value="{{single_wot_key}}"/>
				  <input type="hidden" name="sysur_auto_key" id="sysur_auto_key" value="{{ sysur_auto_key }}"/>
				  <input type="hidden" name="show_conf" id="show_conf" value="got_data"/>
				  <input type="hidden" name="conf_batch_no" id="conf_batch_no" value="{{ batch_no }}"/>
				  <input type="hidden" name="conf_description" id="conf_description" value="{{ description }}"/>
				  <input type="hidden" name="conf_batch_button" id="conf_batch_button" value="{{ button_txt }}"/>
			      <input type="hidden" name="c_button_txt" id="c_button_txt" value="{{ button_txt }}"/>
				  <input type="hidden" name="conf_sel_mode" id="conf_sel_mode" value="{{ conf_sel_mode }}"/>
				  <input type="hidden" name="mod_pagesize" id="mod_pagesize"/>
				  <input type="hidden" name="mod_col" id="mod_col"/>
				  <input type="hidden" name="mod_session" id="mod_session" value="{{ mod_session }}"/>
				  <input type="hidden" name="conf_msg" id="conf_msg" value="{{ msg }}"/>
				  <div><br/><br/></div>	
				  <div class="cell large-6 medium-6 small-12">
					  <button class="secondary button shadow" name="not_complete" value="T" style="float:right; margin-top:-50px;" id="not_complete" type="submit">No</button>
					  <button class="secondary button shadow" name="yes_complete" value="T" style="float:right; margin-top:-50px;" id="yes_complete" type="submit">Yes</button>

				  </div>				  
                </form>          
            </div>
          </div>                
       </div>
      </div>
	  {% endif %}
<!-- Modal Error Pop-up -->
<script>
$(function() {
    $("#errorModal").modal();//if you want you can have a timeout to hide the window after x seconds
});
</script>
    <!-- Modal -->
    {%  if error %}
      <div class="modal fade" id="errorModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
		    <form method="POST" id="modal_error_form" name="modal_error_form">
            <div class="modal-header">
              <button type="button" class="close" id="x_button" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Application Message:</h4>
            </div>
            <div class="modal-body">
			    {%  if error %}<input type="hidden" id="error" name="error" value="{{ error }}"/><div style="font-weight: bold; color:red; font-size: 22px;">{{ error }}</div>{%  endif %}
                <button class="secondary button shadow" id="ok_button" style="float:right; margin-top:-20px;" type="button" data-dismiss="modal">OK</button>
                <div><br/><br/></div>			
            </div>
			</form>
          </div>                
       </div>
      </div>
	  {% endif %}  
    <!-- End modal error popup --> 
    <div class="mro-bottom-section-wrapper mro-table">
      <div class="grid-container mro-bottom-section">
	      <div class="grid-x grid-padding-x">
    {% if total_labor_rows and button_txt != 'Recall Batch' %}
    <div id="grid_wrap" class="mro-bottom-section-wrapper mro-table">
	
      <div class="grid-container mro-bottom-section">
	      <div class="grid-x grid-padding-x">
		    <div class="centered results_grid" id="results_grid" name="results_grid">
				<div class="counter_wrap">					  
				  <input type="button" id="select_all" class="secondary button shadow" style="margin-left:-15px;padding:9px;" value="ALL"/>
				  {% if button_txt == 'Stop Batch' or button_txt == 'Start Batch' %}
				  <input type="button" id="remove" name="remove" class="secondary button shadow" style="padding:9px;" value="REMOVE"/>
				  {% endif %}
				  <input type="text" class="sel_rows" id="sel_rows" name="sel_rows" size="4" value="{{ sel_rows }}" readonly>of     <input type="text" class="total_rows" id="total_rows" name="total_rows" value="{{ total_labor_rows }}" size="5" readonly>
				</div>
			<script>
			kendo.ui.Grid.prototype._positionColumnResizeHandle= function() {
			  var that = this,
				  indicatorWidth = that.options.columnResizeHandleWidth,
				  lockedHead = that.lockedHeader ? that.lockedHeader.find("thead:first") : $();

			  that.thead.add(lockedHead).on("mousemove" + ".kendoGrid", "th", function (e) {
				var th = $(this);
				if (th.hasClass("k-group-cell") || th.hasClass("k-hierarchy-cell")) {
				  return;
				}
				that._createResizeHandle(th.closest("div"), th);
			  });
			};
			var oldPageSize = 0;
			$( "#select_all" ).click(function() {
			    var grid = $("#results_grid").data("kendoGrid");
				if (grid.dataSource.data().length === grid.select().length) {
					grid.clearSelection();
					$("input[type=hidden][class='woos']").remove();	
					$('#sel_rows').val(0);
				} 
				else {
					grid.select("tr");
				};
			});
			
			$( "#remove" ).click(function() {
			    $('remove_task').val('T');
			});
			
			function onChange(e) {
				var rows = e.sender.select();
				var grid = $("#results_grid").data("kendoGrid");
				var currentPage = grid.dataSource.page();
				//console.log('current page: ' + currentPage + 'selected: ' + rows.length);
				//first it goes to woos_first and then onchange again, it goes to woos
				$("input[type=hidden][uipage='" + currentPage + "']").attr('class', 'woos_stale'); 
				rows.each(function(e) {
					var dataItem = grid.dataItem(this);	                  					
					var length = $('input[type=hidden][value=' + dataItem.wot_auto_key + ']').length;	
					if (length != 0) {
					   $('input[type=hidden][value=' + dataItem.wot_auto_key + ']').attr('class', 'woos'); 					   
					}
                    if (!length) {
						var inputWoo = '<input type="hidden" uipage="' + currentPage + '" name="woos_list[]" id="woos_list[]" class="woos" value="' + dataItem.wot_auto_key + '" checked="checked"/>';
						$('#update_session').after(inputWoo);						
					}
				var count = $("input[type=hidden][class='woos']").length;
				$('#sel_rows').val(count);					
			    $("input[type=hidden][uipage='" + currentPage + "'][class='woos_stale']").remove();				
				});	
			};
			
			$(document).ready(
			    function () {
					var baseForm = $("#base_form");	
                    baseUrl = "/portal/labor-tracking/1"					
					var dataSourceArguments = {
						autoBind: false,
					    pageSize: 250,
						serverPaging: true,
						serverSorting: true,
						transport: {
							read: {
								url: '/portal/labor-json',
								dataType: 'json',
								data: { 'session_id': '{{session_id}}', 'num_rows': '{{total_labor_rows}}' }// the parameter I need to send to the server
							},
						},
						batch: true,
						schema: {
							total: "count",
							data: "results",
							model: { 
							    id: "id",
							}
						}
					}						
					var dsg = new kendo.data.DataSource(dataSourceArguments);
					//function selectFirstRow(event) {
					    //event.sender.select("tr:eq(0)");
					//}
					$("#results_grid").kendoGrid({
						toolbar: [
							{ name: "excel", text: "Export" } // Change the text here
						],
						excel: {
							fileName: "labor-export.xlsx",
							proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
							allPages: true
						},
						dataSource: dsg,
						sortable: true,
						reorderable: true,
						resizable: true,
						change: onChange,
                        selectable: "multiple,row",
						persistSelection: true,
                        navigatable: false,
						pageable: {
							refresh: true,
							pageSizes: true,
							buttonCount: 5
						},
                        columns: [
						{% if options_col %}
							{% for col in options_col %}
								{						
								  field: '{{ col.field }}',
								  title: '{{ col.name }}',
								  width: {{ col.width }},
								  {% if col.template %}
								  template: '{{ col.template }}',	
								  {% endif %}
								},
							{% endfor %}	
                        {% else %}
							{
							  field: 'wo_number',
							  title: 'WO#',
							  width: 80,
							  editable: false,
							},
							{
							  field: 'loc_code',
							  title: 'Seq',
							  width: 80,
							  editable: false,
							},						
							{
							  field: 'task_desc',
							  title: 'Title',
							  width: screen.availWidth*0.14,
							},						
							//{
							  //field: 'entry_date',
							  //title: 'Date',
							  //width: 80,
							  //template: '#= kendo.toString(kendo.parseDate(entry_date), "MM/dd/yyyy")#',
							//},
							//{
							  //field: 'hours',
							  //title: 'Hours',
							  //width: 80,
							  //editable: false,
							//},
							//{
							  //field: 'start_time',
							  //title: 'Start Time',
							  //width: 80,
							  //template: '#= kendo.toString(kendo.parseDate(start_time), "MM/dd/yyyy hh:mm")#',
							//},
							//{
							  //field: 'stop_time',
							  //title: 'Stop Time',
							  //width: 80,
							  //template: '#= kendo.toString(kendo.parseDate(stop_time), "MM/dd/yyyy hh:mm")#',
							//},
							
						{% endif %}
					    ],
					});
					$("select[data-role='dropdownlist']").kendoDropDownList({
						dataTextField: "pageSize",
						dataValueField: "sizeValue",
						dataSource: [
							{pageSize: 10},
							{pageSize: 25},
							{pageSize: 100},
							{pageSize: 500},
							{pageSize: 2000},
							{pageSize: 'All', sizeValue:1000},
						],
					});	
					
					// Enable select on click to allow for mobile selection of different rows
					$("#results_grid tbody").on("click", "tr", function(e) {
						var rowElement = this;
						var row = $(rowElement);
						var grid = $("#results_grid").getKendoGrid();

						if (row.hasClass("k-state-selected")) {
							var selected = grid.select();

							selected = $.grep(selected, function(x) {
								var itemToRemove = grid.dataItem(row);
								var currentItem = grid.dataItem(x);
			                    //$row.removeClass("k-selected");
								return itemToRemove.id != currentItem.id
							})
							
							var sel_rows = $('#sel_rows').val();
							$('#sel_rows').val(sel_rows);
							grid.clearSelection();
							grid.select(selected);
							
							if (selected==false) {
							    $('#sel_rows').val(0);
							}
							
							// Stop propagation to prevent Kendo's default selection behavior
							e.stopPropagation();

						}
						else {
							grid.select(row)
							e.stopPropagation();
						}
					});
				});
			  </script>	
			    </div>	
	    </div>
	  </div>
    </div>
    {% endif %}	
    {% if total_rows and not total_labor_rows %}	
    <div id="grid_wrap" class="mro-bottom-section-wrapper mro-table">
	
      <div class="grid-container mro-bottom-section">
	      <div class="grid-x grid-padding-x">
		    <div class="centered wo_results_grid" id="wo_results_grid" name="wo_results_grid">
			    <!--div class="grid_title">WO Tasks</div-->
				<div class="counter_wrap">					  
					<input type="button" id="select_all" class="secondary button shadow" style="margin-right:20px;padding:9px;" value="ALL"/>
					  {% if button_txt == 'Start Batch' %}
					  <input type="button" id="add" name="add" class="secondary button shadow" style="margin-right:-5px;padding:9px;" value="ADD"/>
					  {% endif %}
					<input type="text" class="sel_rows" id="sel_rows" name="sel_rows" size="4" value="{{ sel_rows }}" readonly>
					of     <input type="text" class="total_rows" id="total_rows" name="total_rows" value="{{ total_rows }}" size="5" readonly>
				</div>	
			<script>
			kendo.ui.Grid.prototype._positionColumnResizeHandle= function() {
			  var that = this,
				  indicatorWidth = that.options.columnResizeHandleWidth,
				  lockedHead = that.lockedHeader ? that.lockedHeader.find("thead:first") : $();

			  that.thead.add(lockedHead).on("mousemove" + ".kendoGrid", "th", function (e) {
				var th = $(this);
				if (th.hasClass("k-group-cell") || th.hasClass("k-hierarchy-cell")) {
				  return;
				}
				that._createResizeHandle(th.closest("div"), th);
			  });
			};
			var oldPageSize = 0;
			$( "#select_all" ).click(function() {
			    var grid = $("#wo_results_grid").data("kendoGrid");
				if (grid.dataSource.data().length === grid.select().length) {
					grid.clearSelection();
					$("input[type=hidden][class='woos']").remove();	
					$('#sel_rows').val(0);
				} 
				else {
					grid.select("tr");
				};
			});
			function onChange(e) {
				var rows = e.sender.select();
				var grid = $("#wo_results_grid").data("kendoGrid");
				var currentPage = grid.dataSource.page();
				//console.log('current page: ' + currentPage + 'selected: ' + rows.length);
				//first it goes to woos_first and then onchange again, it goes to woos
				$("input[type=hidden][uipage='" + currentPage + "']").attr('class', 'woos_stale'); 
				rows.each(function(e) {
					var dataItem = grid.dataItem(this);	                  					
					var length = $('input[type=hidden][value=' + dataItem.wot_auto_key + ']').length;	
					if (length != 0) {
					   $('input[type=hidden][value=' + dataItem.wot_auto_key + ']').attr('class', 'woos'); 					   
					}
                    if (!length) {
						var inputWoo = '<input type="hidden" uipage="' + currentPage + '" name="woos_list[]" id="woos_list[]" class="woos" value="' + dataItem.wot_auto_key + '" checked="checked"/>';
						$('#session_id').after(inputWoo);						
					}
				var count = $("input[type=hidden][class='woos']").length;
				$('#sel_rows').val(count);					
			    $("input[type=hidden][uipage='" + currentPage + "'][class='woos_stale']").remove();				
				});	
			};
			$(document).ready(
			    function () {
					var baseForm = $("#base_form");	
                    baseUrl = "/portal/labor-management/1"					
					var dataSourceArguments = {
						autoBind: false,
					    pageSize: 25,
						serverPaging: true,
						serverSorting: true,
						transport: {
							read: {
								url: '/portal/task-json',
								dataType: 'json',
								data: {'batch_no':'{{batch_no}}','session_id': '{{ session_id }}','exclude_closed': 't'} // the parameter I need to send to the server
							},
						},
						batch: true,
						schema: {
							total: "count",
							data: "results",
							model: { 
							    id: "id",
							}
						}
					}						
					var dsg = new kendo.data.DataSource(dataSourceArguments);
					//function selectFirstRow(event) {
					//    event.sender.select("tr:eq(0)");
					//}
					$("#wo_results_grid").kendoGrid({
						toolbar: [
							{ name: "excel", text: "Export" } // Change the text here
						],
						excel: {
							fileName: "labor-export.xlsx",
							proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
							allPages: true
						},
						dataSource: dsg,
						sortable: true,
						reorderable: true,
						resizable: true,
						change: onChange,
                        selectable: "multiple, row",
						persistSelection: true,
                        navigatable: false,
						pageable: {
							refresh: true,
							pageSizes: true,
							buttonCount: 5
						},
                        columns: [
						{% if options_col %}
							{% for col in options_col %}
								{						
								  field: '{{ col.field }}',
								  title: '{{ col.name }}',
								  width: {{ col.width }},
								  {% if col.template %}
								  template: '{{ col.template }}',	
								  {% endif %}
								},
							{% endfor %}	
                        {% else %}
							{
							  field: 'esn',
							  title: 'Seq',
							  width: 30,
							  editable: false,
							},	
							//{
							  //field: 'wot_auto_key',
							  //title: 'WOT',
							  //width: screen.availWidth*0.14,
							  //editable: false,
							//},							
							{
							  field: 'task_master_desc',
							  title: 'Title',
							  width: screen.availWidth*0.14,
							},						
							//{
							  //field: 'wot_description',
							  //title: 'Desc',
							  //width: screen.availWidth*0.14,
							  //editable: false,
							//},
							{
							  field: 'wot_status',
							  title: 'Status',
							  width: 80,
							  editable: false,
							},
							//{
							  //field: 'status_type',
							  //title: 'Status Type',
							  //width: 80,
							  //editable: false,
							//},							
						{% endif %}
					    ],
					});
					$("select[data-role='dropdownlist']").kendoDropDownList({
						dataTextField: "pageSize",
						dataValueField: "sizeValue",
						dataSource: [
							{pageSize: 10},
							{pageSize: 25},
							{pageSize: 100},
							{pageSize: 500},
							{pageSize: 2000},
							{pageSize: 'All', sizeValue:1000},
						],
					});
					
					$('a .k-button .k-button-icontext .k-grid-excel').text('Export');
					// Enable select on click to allow for mobile selection of different rows
					$("#wo_results_grid tbody").on("click", "tr", function(e) {
						var rowElement = this;
						var row = $(rowElement);
						var grid = $("#wo_results_grid").getKendoGrid();

						if (row.hasClass("k-state-selected")) {
							var selected = grid.select();

							selected = $.grep(selected, function(x) {
								var itemToRemove = grid.dataItem(row);
								var currentItem = grid.dataItem(x);
			                    //$row.removeClass("k-selected");
								return itemToRemove.id != currentItem.id
							})
							
							var sel_rows = $('#sel_rows').val();
							$('#sel_rows').val(sel_rows);
							grid.clearSelection();
							grid.select(selected);
							if (selected==false) {
							    $('#sel_rows').val(0);
							}
							
							// Stop propagation to prevent Kendo's default selection behavior
							e.stopPropagation();

						}
						else {
							grid.select(row)
							e.stopPropagation();
						}
					});
				});
			  </script>	
			  <script>
			    $(document).ready(
			        function () {
		              $('a[role=button]').text('Export');
					}
				)
			  </script>
          </div>	
	    </div>
	  </div>
    </div>
    {% endif %}		
		  </div>	
        <div class="grid-x mro-pagination-section">
          <div class="cell large-5 medium-6 small-12 ">
            <a class="mrotop" href="#mrotop" data-smooth-scroll><span>^</span> Back to Top</a>
          </div>
        </div>
	    </div>
	  </div>
	
<div class="mro-footer-wrapper">
	<div class="grid-container mro-footer">
		<div class="grid-x">
			<div class="cell small-12 show-for-medium">
				<img class="mro-footerlogo" src="{% static 'dist/assets/img/mro-live_header.png' %}" alt="Where Productivity Takes Flight" alt="MRO Live - Where Productivity Takes Flight">
			</div>
		</div>

		<div class="grid-x mro-footer-bottom">
			<div class="cell medium-5 small-12 mro-footer-bottom-left">
				<p>Copyright &copy; 2025 MRO Live <span>|</span> <img class="mro-usa" src="{% static 'dist/assets/img/usa.png' %}" alt="Based in USA">Based in USA</p>
			</div>
			<!--div class="cell medium-7 small-12 mro-footer-bottom-right">
				<p><img src="{% static 'dist/assets/img/sectigo.png' %}" /> | Have Questions, Comments, or Concerns? <a href="mailto:Sales@MROLive.com">Get In Touch at Sales@MROLive.com</a></p>
			</div-->
		</div>
	</div>
</div><script src="{% static 'dist/assets/js/app.js' %}"></script>
</body>
</html>