 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MROLive Barcoding - WO Status Update for Quantum Control</title>
    <link href="{% static '_screen.css' %}" rel="stylesheet" type="text/css" />
   </head>
  <body>
    <div id="container">
      <div id="contentWrap" style="border:none;">
   	    <div class="contentLeft" style="width:900px;">
			<h3>Update Status</h3>
			<form action="{% url 'motopt:update' question.id %}" method="post">
			{% csrf_token %}
					<strong>WO#:</strong>
					<input name="wo_number" type="text" id="wo_number">
					<strong>Status:</strong>
					<input name="status" type="text" id="status"><br/><br/>                    
					<div style="float:left;"><input type="button" value="Remove"></div>
                    <div style="float:right;"><input type="button" value="Clear"></div>
			</form>
            <table>
            {%  for woo in all_woos %}
                <tr>
                <td>{{ woo.wo_number }}</td>
                <td>{{ woo.status }}</td>
                <td>{{ woo.due_date }}</td>
                <td>{{ woo.stock_line }}</td>
                <td>{{ woo.part_number }}</td>
                <td>{{ woo.description }}</td>
                <td>{{ woo.serial_number }}</td>
                <td>{{ woo.location_code }}</td>
                </tr>                
            {% endfor %}
            </table>
	  </div>
    </div>
   </div>
  </body>
</html>